.delete-timestamp{
    transition: opacity 0.2s;
    opacity: 0;
}

.timestamp{
    font-weight: bold;
    color:#1e66b3 !important;
    border-bottom: none;
}

.row:hover .delete-timestamp{
    opacity: 1;
}

.timestamp-box{
    background-color: rgba(27, 31, 34, 1);
    border-radius: 5px;
    border: 1px solid red;
    padding: 0.5rem 0rem;
}

.mw-85{
    max-width: 85%;
}

@media(max-width: 768px){
	.row{
        margin-bottom: 1rem;
        line-height: 1.2;
    }

    .mw-85{
        max-width: 100%;
    }

    .row.ml-auto{
        margin-left: 0 !important;
    }
}