<div class="main">
    <article *ngIf="sessionAudio; else loading">
        <app-edit-toggle></app-edit-toggle>
        <!-- Heading -->
        <h1 class="text-center">
            {{ sessionAudio.session_details.name}}
            <i class="fa fa-volume-up"></i>
        </h1>

        <!-- Audio Player -->
        <div class="mt-4 mb-1">
            <!-- Background Image -->
            <div class="black-background d-flex justify-content-center" (click)="togglePlayer(vimePlayer)">
                <img class="mw-100 mh-20rem" src="{{constants.wikiStaticUrl}}/fileserver/images/audio_pic.png"/>
            </div>
            <!-- Vime-Player -->
            <vime-player class="w-100" #vimePlayer>
                <vime-audio cross-origin>
                    <source [src]="sessionAudio.audio_file" type="audio/mp3" crossorigin="anonymous" #audioSource/>
                </vime-audio>
    
                <vime-default-ui></vime-default-ui>
            </vime-player>
        </div>

        <!-- Next Buttons -->
        <div class="mb-5 d-flex justify-content-between">
            <a  *ngIf="priorSessionAudio"
                (click)="routeToSessionAudio(priorSessionAudio)"
                class="btn btn-secondary float-left"> 
                <i class="fa fa-arrow-left mr-1"></i>
                Session {{priorSessionAudio.sessionNumber}}
            </a>

            <div class="btn btn-primary mr-auto ml-auto" (click)="createTimestampEventSubject.next(this.vimePlayer.currentTime)">
                Add Timestamp <i class="fa fa-clock-o ml-1"></i>
            </div>

            <a  *ngIf="nextSessionAudio"
                (click)="routeToSessionAudio(nextSessionAudio)"
                class="btn btn-secondary float-right"> 
                Session {{nextSessionAudio.sessionNumber}}
                <i class="fa fa-arrow-right ml-1"></i>
            </a>
        </div>

        <app-timestamp-list 
        [timestamps]="timestamps"
        [sessionAudio]="sessionAudio"
        [vimePlayer]="vimePlayer"
        [createTimestampEventSubject]="createTimestampEventSubject"
        ></app-timestamp-list>

        <!-- Ending -->
        <div class="d-block mt-2">
            <a routerLink="{{constants.getRoutePath(router, 'sessionaudio-overview')}}" class="btn btn-secondary mr-1">
                Back to SessionAudio Overview
            </a>
            <app-delete-toggle (deleteEvent)="deleteArticle()"></app-delete-toggle>
        </div>
    </article>
    
    <!-- Loading Spinner -->
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>