<div class="main" #article>
    <article class="container">
        <div class="row" *ngIf="hasUpdatePermission">
            <div class="col-12">
                <app-edit-toggle 
                [isInUpdateState]=false 
                [link]="'update'"
                ></app-edit-toggle>
            </div>
        </div>
        
        <div class="row">
            <!-- Heading -->
            <h1 class="text-center col-lg-12">
                {{ articleData.session_details.name}}
                <i class="fa fa-volume-up"></i>
            </h1>
        </div>

        <!-- Audio Player -->
        <div class="mt-4 mb-1 row mx-0" #playerSection>
            <!-- Background Image -->
            <div class="black-background col-12 px-0" (click)="togglePlayer(vimePlayer)">
                <img class="mw-100" src="{{constants.audioImageUrl}}"/>
            </div>

            <!-- Vime-Player -->
            <vm-player
                theme="dark"
                style="--vm-player-theme: var(--primary);"
                class="w-100"
                #vimePlayer
            >
                <vm-audio cross-origin>
                    <source [src]="articleData.audio_file" type="audio/mp3" crossorigin="anonymous" #audioSource/>
                </vm-audio>
                
                <vm-default-ui></vm-default-ui>
            </vm-player>
        </div>

        <!-- Next Buttons -->
        <div class="mb-3 row justify-content-between">
            <!-- Next Session -->
            <div class="col-lg-3 col-6">
                <a  
                *ngIf="nextSessionAudioUrl"
                routerLink="{{nextSessionAudioUrl}}"
                class="btn btn-secondary"
                > 
                    <i class="fa fa-arrow-left mr-1"></i>
                    Session {{articleData.sessionAudioNeighbours.nextSessionAudio.sessionNumber}}
                </a>
            </div>

            <!-- Prior Session -->
            <div class="col-lg-3 col-6">
                <a  
                *ngIf="priorSessionAudioUrl"
                routerLink="{{priorSessionAudioUrl}}"
                class="btn btn-secondary float-right"
                > 
                    Session {{articleData.sessionAudioNeighbours.priorSessionAudio.sessionNumber}}
                    <i class="fa fa-arrow-right ml-1"></i>
                </a>
            </div>
        </div>

        <!-- Add Timestamp -->
        <div class=" mb-3 row justify-content-center mx-0">
            <div 
            class="btn btn-primary col-lg-4" 
            *ngIf = "hasCreatePermission"
            (click)="createTimestampEventSubject.next(this.vimePlayer.currentTime)"
            >
                Add Timestamp <i class="fa fa-clock-o ml-1"></i>
            </div>
        </div>

        <!-- Timestamp List -->
        <div class="mb-4">
            <app-timestamp-list 
            [timestamps]="timestamps"
            [sessionAudio]="articleData"
            [vimePlayer]="vimePlayer"
            [createTimestampEventSubject]="createTimestampEventSubject"
            (timestampCreate)="toggleTimestampCreateState()"
            ></app-timestamp-list>
        </div>


        <!-- Footer (Move to other Article + Delete Article) -->
        <app-article-footer
        (delete)="deleteArticle()"
        [link]="sessionAudioOverviewUrl"
        [label]="'Back to SessionAudio Overview'"
        [deleteMessage]="'Delete recording?'"
        ></app-article-footer>
    </article>
</div>