<div class="main">
    <article *ngIf="sessionAudioFiles; else loading">
        <h1 class="text-center">Session Audio Files</h1>

        <div class="container">
            <div class="row">
                <!-- Normal Session Audio Cards -->
                <div class="col-lg-3" *ngFor="let sessionAudio of sessionAudioFiles">
                    <div class="card my-3">
                        <div class="card-header"> 
                            <h4 class="text-center card-title ">{{ sessionAudio.name }}</h4>
                        </div>
                        <div class="card-body d-flex justify-content-center flex-column">
                            <a href="{{constants.wikiUrl}}{{sessionAudio.download_url}}" 
                                class="text-center btn btn-primary"> 
                                <strong> Download </strong> 
                            </a>
                            <a routerLink="{{sessionAudio.session_details.is_main_session_int}}/{{sessionAudio.session_details.session_number}}" 
                               class="text-center btn btn-primary"> 
                                <strong> Stream </strong> 
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Add Session Audio card -->
                <div class="col-lg-3">
                    <div class="card my-3 h-87">
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <i class="fa fa-5x icon fa-plus-square-o" aria-hidden="true"></i> 
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </article>
    <!-- Loading Spinner -->
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>