<div class="main">
    <article *ngIf="sessionAudioFiles; else loading">
        <h1 class="text-center">Session Audio Files</h1>
        <!-- Requires m-0 because on mobile it else goes into overflow -->
        <div class="row m-0">
            <!-- Normal Session Audio Cards -->
            <div class="col-md-4 col-sm-6" *ngFor="let sessionAudio of sessionAudioFiles">
                <div class="card my-3">
                    <!-- Card Title -->
                    <div class="card-header">
                        <h4 class="text-center card-title mb-0">{{ sessionAudio.name }}</h4>
                    </div>

                    <!-- Card Body -->
                    <!-- TODO: Fix the download button somehow 
                        Gained Intel so far:
                        - You ideally want to NOT handle this in angular. Angular can deal with ~10Mb files, not 50+. So download from file-url or a django view
                        - If you download from django-view, it needs to without login and somehow still authentication
                            Problem here: Getting this done with a url that isn't snatched by the angular router
                        - If you download from file-url, you would use the download attribute on an anchor tag
                            So far that just isn't working
                    
                    -->
                    <div class="card-body d-flex justify-content-center flex-column">
                        <a routerLink="{{routingService.getRoutePath('sessionaudio', {isMainSession: sessionAudio.session_details.is_main_session_int, sessionNumber: sessionAudio.session_details.session_number})}}"
                            class="text-center btn btn-primary"> 
                            <span class="fa fa-desktop"></span>
                            <strong> Stream </strong>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Add Session Audio card -->
            <div class="col-md-4 col-sm-6" [ngClass]="{'d-none': !userHasCreatePermission()}">
                <div class="card my-3 pointer add-icon-card h-82" routerLink="create">
                    <!-- Card Title -->
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <i class="fa fa-5x icon fa-plus" aria-hidden="true"></i> 
                    </div>
                </div>
            </div>

        </div>

        <!-- Button To Frontpage -->
        <div class="row mx-0">
            <div class="col-md-3 mt-5 btn btn-secondary" routerLink="{{routingService.getRoutePath('home1')}}">
                Back To Frontpage
            </div>
        </div>

    </article>
    <!-- Loading Spinner -->
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>