<div class="main">
    <article *ngIf="rules; else loading" class="container">

        <!-- Heading -->
        <div class="row">
            <h1 class="text-center col">Rules</h1>
        </div>

        <!-- Rules -->
        <div *ngFor="let rule of rules; let i = index">
            <app-rule
            [rule] = "rule"
            [index] = "i"
            (deleteRule) = onRuleDelete(i)
            ></app-rule>
        </div>
        <!-- TODO: Hide creating rules and spells for anyone that isn't an admin -->
        <!-- TODO: Create an admin center with a "delete All" button and a "download Database" button -->
        <!-- Insert new Rule -->
        <div class="expand row justify-content-center">
            <div class="btn btn-secondary" (click)="addRule()">
                <i class="fa fa-3x fa-plus pointer" title="Add Rule"></i>
            </div>
        </div>

        <!-- Button to Frontpage -->
        <div class="row mt-5">
            <div class="btn btn-secondary col-md-3" routerLink="{{ routingService.getRoutePath('home1') }}">
                Back To Frontpage
            </div>
        </div>

    </article>
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>