<div class="main">
    <article *ngIf="rules; else loading">
        <h1 class="text-center">Rules</h1>
        <div *ngFor="let rule of rules; let i = index" class="card mb-3 px-4 pt-3 pb-1">
            <h5 class="pointer" (click)="togglePanel(i)"> 
                {{ rule.name }} 
                <i [ngClass]="{'fa icon float-right': true, 'fa-plus': panelIsOpen(i), 'fa-minus': !panelIsOpen(i)}"></i>
            </h5>
            <div [ngbCollapse]="panelIsOpen(i)">
                <hr class="white-separator">
                <div [innerHTML]="rule.description"></div>
            </div>
        </div>
        <div class="btn btn-secondary" routerLink="{{constants.wikiUrlFrontendPrefix}}">Back To Frontpage</div>
    </article>
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>