.input-group{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.btn-outline-light{
    border-color: white;
    color: white;
}

.btn-outline-light:hover{
    background-color: white;
    color: grey;
}

div.datepicker-day{
    background-color: var(--wiki-background-2);
    color: white;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.datepicker-day:hover{
    color: black;
    background-color: grey;
}

