<div class="mb-3 mx-2">
    <!-- Button to show in Create State -->
    <ng-container  *ngIf="isInCreateMode">
        <div [class]="'btn btn-outline-info fa ' + icon" 
        title="Create new Session" 
        (click)="open(content)"></div>   
    </ng-container>
     
    <!-- Button to show in Update State -->
    <ng-container *ngIf="isInUpdateMode && !sessionFormModel">
        <div [class]="'btn btn-outline-info fa ' + icon" 
        title="Edit selected Session" 
        (click)="open(content)"></div>
    </ng-container>
</div>

<ng-template #content let-modal>
    <!-- Header -->
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <ng-container *ngIf="isInCreateMode">
                Create Session 
            </ng-container>
            <ng-container *ngIf="isInUpdateMode">
                <ng-container *ngIf="!!sessionFormModel; else requestSelectingModel">
                    Update {{ sessionFormModel?.name }} 
                </ng-container>
            </ng-container>
        </h4>
        <div class="" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true" class="fa fa-times pointer"></span>
        </div>
    </div>

    <!-- Body -->
    <div class="modal-body">
        <div class="mb-1" *ngIf="!!sessionFormModel">        
            <!-- Form -->
            <form [formGroup]="sessionForm" (submit)="onSubmit(modal)">
                <formly-form [form]="sessionForm" [fields]="sessionFormFields" [model]="sessionFormModel"></formly-form>
                <div class="btn btn-secondary me-3" (click)="modal.close()">Cancel</div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

</ng-template>


<!-- Loading Spinner -->
<ng-template #loading><app-spinner></app-spinner></ng-template>
<ng-template #requestSelectingModel> Please Select a session that you want to update</ng-template>
