<ng-template #content let-modal>
    <!-- Header -->
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Update {{ model.name }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- Body -->
    <div class="modal-body">
        <div class="mb-5" *ngIf="model; else loading">        
            <!-- Form -->
            <form [formGroup]="form">
                <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
                <div class="btn btn-dark mr-3" (click)="modal.close()">Cancel</div>
                <div class="btn btn-secondary" (click)="onSubmit(modal)">Submit</div>
            </form>
        </div>
        <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
    </div>

</ng-template>

<div class="form-group mx-2">
    <div *ngIf="formState===constants.updateState" class="btn btn-outline-info fa {{icon}}" title="Edit selected Session" (click)="open(content)"></div>
    <div *ngIf="formState===constants.createState" class="btn btn-outline-info fa {{icon}}" title="Create new Session" (click)="open(content)"></div>    
</div>
