<ng-template #content let-modal>
    <!-- Header -->
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <ng-container *ngIf="formState === constants.createState">
                Create Session 
            </ng-container>
            <ng-container *ngIf="formState === constants.updateState">
                Update {{ model.name }} 
            </ng-container>
        </h4>
        <div class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true" class="fa fa-times pointer"></span>
        </div>
    </div>

    <!-- Body -->
    <div class="modal-body">
        <div class="mb-1" *ngIf="model; else loading">        
            <!-- Form -->
            <form [formGroup]="form" (submit)="onSubmit(modal)">
                <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
                <div class="btn btn-secondary me-3" (click)="modal.close()">Cancel</div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

</ng-template>

<div class="form-group mx-2">
    <!-- Button to show in Create State -->
    <ng-container  *ngIf="formState === constants.createState">
        <div [class]="'btn btn-outline-info fa ' + icon" 
        title="Create new Session" 
        (click)="open(content)"></div>   
    </ng-container>
     
    <!-- Button to show in Update State -->
    <ng-container *ngIf="formState === constants.updateState">
        <div [class]="'btn btn-outline-info fa ' + icon" 
        title="Edit selected Session" 
        (click)="open(content)"
        [ngClass]="{'d-none': !model}"></div>
    </ng-container>

</div>

<!-- Loading Spinner -->
<ng-template #loading><app-spinner></app-spinner></ng-template>
