<div class="main d-flex flex-column">
    <h1 class="text-center mb-5"> {{errorContents[errorStatus].title}} </h1>
    <img src="{{errorContents[errorStatus].image}}" alt="" class="center mb-3"/>

    <p class="text-center" [innerHTML]="errorContents[errorStatus].htmlBody | safeHtml"> </p>
    
    <div *ngIf="campaign; else refreshButton">
        <a 
        class="btn btn-secondary" 
        routerLink="{{ routingService.getRoutePath('home1', {campaign: campaign.name}) }}"
        > 
            Back To Frontpage
        </a>
    </div>
</div>

<ng-template #refreshButton>
    <a (click)="globalUrlParams.refreshAndReturnToLastURL()" class="btn btn-primary mx-auto">
        Reconnect!
        <span class="fas fa-redo-alt"></span>
    </a>
</ng-template>