<div class="main">
    <article *ngIf="item; else loading">
        <!-- Heading -->
        <app-edit-toggle 
        [isInUpdateState]=false 
        [link]="'update'"
        ></app-edit-toggle>

        <h1 class="text-center"> {{ item.name }} </h1>
        <p *ngIf="item.owner_details" class="text-center mb-5"> 
            Owned by: 
            <a routerLink="{{ constants.getRoutePath(router, 'character', {name: item.owner_details.name}) }}">
                {{ item.owner_details.name }}
            </a>
        </p>

        <!-- Image Gallery -->
        <app-image-gallery
        [article_type]="this.articleType"
        [article_pk]="this.item.pk"
        [images]="this.item.images"
        ></app-image-gallery>

        <!-- Description -->
        <div class="mb-5">
            <app-textfield 
            [initialText]="item.description"
            [heading]="'Description'"
            (updateText)="onDescriptionUpdate($event)"
            ></app-textfield>
        </div>

        <app-delete-toggle 
        [deleteMessage]="'Delete '+item.name+'?'" 
        (deleteEvent)="deleteArticle()"
        ></app-delete-toggle>

        <a 
        routerLink="{{ constants.getRoutePath(router, 'item-overview') }}" 
        class="btn btn-secondary mr-1"
        >
            Back to Items
        </a>

        <a
        *ngIf="item.owner_details"
        routerLink="{{ constants.getRoutePath(router, 'character', {name: item.owner_details.name}) }}" 
        class="btn btn-secondary"
        >
            Back to {{item.owner_details.name}}
        </a>
    </article>
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>
