<div class="main">
    <article *ngIf="item; else loading" class="container">
        <!-- TODO: If the first word of a heaidng is too long it overlaps, see how to avoid this -->
        <app-edit-toggle 
        [isInUpdateState]=false 
        [link]="'update'"
        ></app-edit-toggle>

        <!-- Heading -->
        <div class="row">
            <h1 class="text-center col"> {{ item.name }} </h1>
        </div>
        <div class="row">
            <p *ngIf="item.owner_details" class="text-center col mb-5"> 
                Owned by: 
                <a routerLink="{{ constants.getRoutePath(router, 'character', {name: item.owner_details.name}) }}">
                    {{ item.owner_details.name }}
                </a>
            </p>
        </div>


        <!-- Image Gallery -->
        <app-image-gallery
        [article_type]="this.articleType"
        [article_pk]="this.item.pk"
        [images]="this.item.images"
        ></app-image-gallery>

        <!-- Description -->
        <div class="mb-5">
            <app-textfield 
            [initialText]="item.description"
            [heading]="'Description'"
            (updateText)="onDescriptionUpdate($event)"
            ></app-textfield>
        </div>

        <!-- Footer (Move to other Article + Delete Article) -->
        <app-article-footer
        (delete)="deleteArticle()"
        [link]="constants.getRoutePath(router, 'item-overview')"
        [label]="'Back to Items'"
        [deleteMessage]="'Delete '+item.name+'?'"
        ></app-article-footer>
    </article>
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>
