@import "../../../cssvariables.scss";

.encounter-title{
    color: white;
    width: 100%;
    font-size: 18px;
}

.encounter-connections{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 16px;
}

.badge a{
    border-bottom: none;
}

.badge{
    background-color: var(--wiki-background-2);
}

.badge a:hover{
    color: var(--link-blue) !important;
}

.badge .icon{
    transition: display 0.2s;
    display: none;
}

.badge:hover .icon{
    display: inline;
}

.encounter-connections .icon{
    opacity: 0;
    transition: opacity 0.2s;
}

.encounter-connections:hover .icon{
    opacity: 1;
}

.fa-check:hover{
    color: green;
}

.fa-times:hover{
    color: red;
}

.badge .fa-trash:hover{
    color: red;
}

#encounter-delete{
    background-color: var(--wiki-background-2) !important;
}

.panel-title .encounter-title, .panel-title .icon{
    transition: color 0.2s;
    color: white;
}

.panel-title:hover .encounter-title, .panel-title:hover .icon{
    color: grey;
}

h4 .icon{
    opacity: 0;
    transition: opacity 0.2s;
}

h4:hover .icon{
    opacity: 1;
}

.white-line{
    background-color: white;
}

.tag-label{
    font-size: 14px;
}

.btn-secondary{
    background-color: var(--wiki-background-2);
}

.btn-outline-secondary{
    border-color: var(--wiki-background-2);
    color: white;
}

.btn-outline-secondary:hover{
    background-color: var(--wiki-background-2);
}

.delete-request .btn-secondary{
    background-color: #393e41;
}