<!-- Display State -->
<div class="image-area mb-5 icon-container" *ngIf="componentState===constants.displayState">
    <!-- Prior Image Arrow -->
    <i [ngClass]="{'fa fa-arrow-left fa-2x mr-5 icon': true, 'mouseoverVisible': !isLastImage(), 'deactivated-icon': isLastImage()}" 
    aria-hidden="true"
    (click)="decreaseVisibleImageIndex()"></i>

    <!-- Image Container -->
    <div class="image-container">

        <!-- Images -->
        <a [href]="image.image"
        *ngFor="let image of images; let i = index"
        (keydown)="changeMainImage($event)"
        [ngClass]="{'main-image': i === visibleImageIndex, 'side-image': i !== visibleImageIndex}">
            <img title="None" class="gallery-image" [src]="constants.wikiUrl + image.image" alt="">
        </a>

        <!-- Image Edit/Delete/Create Buttons -->
        <div class="edit-image-buttons">
            <i class="fa fa-plus-square-o fa-2x icon" aria-hidden="true" (click)="toggleCreateState()"></i>
            <i class="fa fa-pencil fa-2x icon" aria-hidden="true" (click)="toggleUpdateState()"></i>
            <i [ngClass]="{'fa fa-trash fa-2x icon': true, 'd-none': isLastImage()}" aria-hidden="true" (click)="toggleDeleteState()"></i>
        </div>

    </div>

    <!-- Next Image Arrow -->
    <i [ngClass]="{'fa fa-arrow-right fa-2x ml-5 icon': true, 'mouseoverVisible': !isLastImage(), 'deactivated-icon': isLastImage()}" 
    aria-hidden="true" 
    (click)="incrementVisibleImageIndex()"></i>
</div>

<!-- Create/Update Image Form -->
<div *ngIf="componentState === constants.createState || componentState === constants.updateState" class="card p-3 m-2">
    <!-- Create/Update Heading -->
    <h5 class="text-center">
        <span *ngIf="componentState === constants.createState">Creating Image</span>
        <span *ngIf="componentState === constants.updateState">Updating this image:</span>
    </h5>

    <!-- Update Image -->
    <div *ngIf="componentState === constants.updateState" class="image-container">
        <span class="main-image">
            <img title="None" class="gallery-image" [src]="constants.wikiUrl + getCurrentMainImage().image" alt="">
        </span>
    </div>

    <!-- Create/Update Form -->
    <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
        <button class="btn btn-dark mr-3" (click)="componentState = constants.displayState">Cancel</button>
        <button type="submit" class="btn btn-outline-dark">Submit</button>
    </form>
</div>

<!-- Delete "Form" -->
<div *ngIf="componentState === constants.deleteState" class="card p-3 m-2">
    <!-- Delete Heading -->
    <h5 class="text-center">Deleting this image:</h5>

    <!-- Delete Image  -->
    <div class="image-container">
        <span class="main-image">
            <img title="None" class="gallery-image" [src]="constants.wikiUrl + getCurrentMainImage().image" alt="">
        </span>
    </div>

    <!-- Delete Question -->
    <div class="text-center">
        Do you really want to delete this image?
        <button class="btn btn-outline-dark mr-3" (click)="componentState=constants.displayState"> No </button>
        <button class="btn btn-outline-danger" (click)="deleteCurrentMainImage()"> Yes </button>
    </div>
</div>