<div class="main">
    <article class="mb-5" *ngIf="model; else loading">
        <!-- Heading -->
        <div *ngIf="formState===constants.updateState; else createState">
            <app-edit-toggle 
            [isInUpdateState]=true 
            [link]="'..'"
            ></app-edit-toggle>

            <h2 class="text-center"> Updating Marker for {{model.location_details.name}} on {{model.map_details.name}} </h2>
        </div>

        <ng-template #createState>
            <app-edit-toggle 
            [isInUpdateState]=true 
            [link]="routingService.getRoutePath('location', {
                    parent_name: model.location_details.parent_location_name, 
                    name: model.location_details.name
                }
            )"
            ></app-edit-toggle>

            <h2 class="text-center"> Adding a new Marker </h2>
        </ng-template>

        <!-- Form -->
        <app-formly-formcontainer 
        [model]="model" 
        [fields]="fields" 
        (submit)="onSubmit()" 
        (cancel)="onCancel()"
        ></app-formly-formcontainer>
    </article>
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>