
<div class="main">
    <!-- Heading -->
    <header class="mb-1">
        <div class="d-flex flex-column">
            <i class="aldrune-icon large align-self-center"></i>
            <h1 class="mb-1"> Aldrune </h1>
            <strong class="hide-on-mobile">
                A campaign made by Samuel Day and recorded by Philipp Dörner <br>
                Through the eyes of Relentless.
            </strong>
        </div>
    </header>
    
    <!-- Search Bar -->
    <div class="mb-4" id="search-area">
        <form class="flex-1 p-1" (submit)="search()">
            <div class="d-flex searchbar">
                <input 
                class="search-input p-2" 
                type="search" 
                name="search" 
                title="search"
                id="search"
                [(ngModel)]="searchString" 
                placeholder="Search For Articles..." 
                aria-label="Search">
                <div class="btn btn-primary" (click)="search()">
                    <i class="fa fa-search p-2"></i>
                </div>
            </div>

        </form>
    </div>

    <!-- News -->
    <div class="container" id="news">
        <h3 class="row justify-content-center align-items-center">
            <span class="">Recent Updates</span>
            <i class="ml-3 spinner-border" *ngIf="!recentlyUpdatedArticles"></i>
        </h3>
        <div class="row">
            <div class="mycolpadding col-6 col-md-4 col-lg-3 col-xl-2 mb-4" *ngFor="let article of recentlyUpdatedArticles">
                <a 
                routerLink="{{ article.getAbsoluteRouterUrl() }}" 
                class="card {{sidebarColor(article.article_type)}}"
                >
                    <img src="{{ getOverviewImage(article) }}" alt="article image" class="card-img-top">
                    <div class="card-body">
                        <div class="card-title">
                            <strong> {{article.name_full}} </strong>
                        </div>
                        <div class="card-subtitle mb-2"> 
                            {{ article.update_date | date }} 
                            <div class="text-muted"> {{ article.article_type}} </div>
                        </div>
                        <div class="card-text">
                            {{article.description}}
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>
