
<div class="main">
    <!-- Heading -->
    <header class="mb-1">
        <div class="d-flex flex-column">
            <i class="aldrune-icon large align-self-center"></i>
            <h1 class="mb-1"> Aldrune </h1>
            <strong class="hide-on-mobile">
                A campaign made by Samuel Day and recorded by Philipp Dörner <br>
                Through the eyes of Relentless.
            </strong>
        </div>
    </header>
    
    <!-- Search Bar -->
    <div class="mb-4" id="search-area" (touchend)="focusSearchField()">
        <form class="flex-1 p-1" (submit)="startSearch()">
            <div class="d-flex searchbar">
                <input 
                class="search-input p-2" 
                type="search" 
                name="search" 
                title="search"
                id="search"
                #search
                [(ngModel)]="searchString" 
                placeholder="Search For Articles..." 
                aria-label="Search">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-search p-2"></i>
                </button>
            </div>

        </form>
    </div>

    <!-- News -->
    <app-recently-updated-articles-list
    [campaign]="campaign"
    ></app-recently-updated-articles-list>
    


</div>
