
<div class="main" *ngIf="campaignData; else loading" #article>
    <!-- Heading -->
    <header class="mb-1">
        <div class="d-flex flex-column">
            <img class="large align-self-center"
            [src]="campaignData?.icon" [alt]="constants.defaultCampaignIconUrl"
            />
            <h1 class="mb-1"> {{campaignData.name}} </h1>
            <strong class="hide-on-mobile" [innerHTML]="campaignData.subtitle"></strong>
        </div>
    </header>
    
    <!-- Search Bar -->
    <div class="mb-4" id="search-area" (touchend)="focusSearchField()">
        <form class="flex-1 p-1" (submit)="startSearch()">
            <div class="d-flex searchbar">
                <input 
                class="search-input p-2" 
                type="search" 
                name="search" 
                title="search"
                id="search"
                #search
                [(ngModel)]="searchString" 
                placeholder="Search For Articles..." 
                aria-label="Search">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-search p-2"></i>
                </button>
            </div>

        </form>
    </div>

    <!-- News -->
    <!-- TODO: swap this to be campaignData not just the name -->
    <app-recently-updated-articles-list
    [campaign]="campaignData.name"
    ></app-recently-updated-articles-list>
</div>

<ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
