<div class="main">
    <article *ngIf="articles; else loading">
         <!-- Heading -->
         <h1 class="text-center">Search Results</h1>
         <app-colored-sidebar-legend></app-colored-sidebar-legend>
         
        <!-- Article List -->
        <div class="my-3">
            <a routerLink="{{article.getAbsoluteRouterUrl()}}" 
               *ngFor="let article of articles"
               [ngClass]="'card flex-row align-items-center sidebar-border my-2 ' + sidebarColor(article.article_type)">
               
                <div class="d-flex flex-row align-items-center py-2 w-100">
                    <div class="mx-3 text-center flex-1"> <h5><strong>{{article.name}}</strong></h5></div>
                    <div class="flex-3 pr-3 font-size-16">{{article.description}}</div>
                </div>
            </a>
        </div>

    </article>
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>