.sidebar-border{
    border-left: solid 5px;
}

.yellow{
    border-left-color: #e8b41b;
}

.darkpink{
    border-left-color: #ca0263;
}

.lightpink{
    border-left-color: #f293a4;
}

.brown{
    border-left-color: brown;
}

.blue{
    border-left-color: blue;
}

.black{
    border-left-color: black;
}

.gray{
    border-left-color: gray;
}

.white{
    border-left-color: white;
}

h5{
    font-size: 18px;
}

.font-size-16{
    font-size: 16px;
}

.card{
    background-color: #1f1e1f!important;
}

.card:hover{
    background-color: rgba(255, 255, 255, 0.075)!important;
    border: none;
}

.h-2rem{
    height: 2rem;
}