h5{
    font-size: 18px;
}

.font-size-16{
    font-size: 16px;
}

.card{
    background-color: #1f1e1f!important;
}

.card:hover{
    background-color: rgba(255, 255, 255, 0.075)!important;
    border: none;
}

.h-2rem{
    height: 2rem;
}