<div class="main">
    <article *ngIf="articles; else loading" class="container">
         <!-- Heading -->
         <div class="row">
            <h1 class="text-center col">Search Results</h1>
         </div>

         <app-colored-sidebar-legend 
         [interactable]="true"
         (onFilterOptionSelect)="filterOptions = $event"
         ></app-colored-sidebar-legend>
         
        <!-- Article List -->
        <div class="my-3" *ngIf="articles.length > 0 else noSearchResults">
            <a 
            routerLink="{{ article.getAbsoluteRouterUrl() }}" 
            *ngFor="let article of articles"
            class="card flex-row align-items-center sidebar-border py-2 row mh-60px {{sidebarColor(article.article_type)}}"
            [ngClass]="{'d-none': hasActiveFilter() && !filterOptions.includes(article.article_type)}"
            >
               
                <!-- Article Name -->
                <div class="col-md-4 text-center">
                        <h5 class="mb-0"><strong>{{article.name}}</strong></h5>
                </div>
                
                <!-- Article Text -->
                <div class="col-md-8 font-size-16">
                    {{article.description}}
                </div>
            </a>
        </div>

        <!-- Footer -->
        <div class="row">
            <div 
            class="btn btn-secondary col-md-3" 
            routerLink="{{ routingService.getRoutePath('home1') }}"
            >
                Back To Frontpage
            </div>
        </div>
    </article>
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>

<ng-template #noSearchResults>
    <div class="my-5 d-flex align-items-center flex-column">
        <h2 class="mb-0">We couldn't find any hits for '{{ searchString }}'</h2>
        <i> {{ emptySearchSubtitle }}</i>
    </div>
</ng-template>