<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0">
    <!-- Brand -->
    <a routerLink="{{ routingService.getRoutePath('home1') }}" class="navbar-brand mx-5">
        <strong> Aldrune Wiki </strong>
    </a>

    <!-- Collapsed navbar toggle -->
    <button 
    type="button"
    class="navbar-toggler" 
    data-toggle="collapse" 
    data-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" 
    aria-expanded="false" 
    aria-label="Toggle navigation"
    (click)="toggleCollapse()"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{'show': !collapsed}" id="navbarSupportedContent">
        <!-- Search Bar -->
        <form class="my-2 flex-1" (submit)="search()">
            <div class="searchbar form-control">
                <i class="fa fa-2x fa-search mr-2"></i>
                <input 
                class="search-input" 
                type="search" 
                name="search" 
                [(ngModel)]="searchString" 
                placeholder="Search Articles..." 
                aria-label="Search">
            </div>
        </form>

        <!-- Nav Items -->
        <ul class="navbar-nav" (click)="outsideClickSubject.next()">
            <!-- Recent Updates -->
            <li class="nav-item">
                <a routerLink="{{ routingService.getRoutePath('recent-updates') }}" class="nav-link"> 
                    <span class="nav-link-text">Recent Updates</span>
                </a>
            </li>

            <!-- Spells -->
            <li class="nav-item">
                <a routerLink="{{ routingService.getRoutePath('spells')}}" class="nav-link"> 
                    <span class="nav-link-text mr-3">Spells</span> 
                    <i class="fa fa-bolt fa-2x" aria-hidden="true"></i>
                </a>
            </li>

            <!-- Rules -->
            <li class="nav-item">
                <a routerLink="{{ routingService.getRoutePath('rules')}}" class="nav-link"> 
                    <span class="nav-link-text mr-3 d-none">Rules</span> 
                    <i class="fa fa-book fa-2x" aria-hidden="true"></i>
                </a>
            </li>

            <!-- Session Audio -->
            <li class="nav-item">
                <a class="nav-link" routerLink="{{ routingService.getRoutePath('sessionaudio-overview') }}"> 
                    <span class="nav-link-text mr-3 d-none">Session Audio</span> 
                    <i class="fa fa-file-audio-o fa-2x" aria-hidden="true"></i> 
                </a>
            </li>

            <!-- Log out -->
            <li class="nav-item mr-5">
                <a (click)="logout()" class="nav-link"> 
                    <span class="nav-link-text mr-3 d-none">Logout</span> 
                    <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i> 
                </a>
            </li>

        </ul>

    </div>

</nav>