<nav class="navbar navbar-dark bg-dark navbar-expand-md p-0">
    <!-- Brand -->
    <a routerLink="{{constants.wikiUrlFrontendPrefix}}" class="navbar-brand mr-5 ml-5"><strong> Aldrune Wiki </strong></a>
    <!-- Collapsed navbar toggle -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Search Bar -->
        <form class="my-2 my-lg-0 flex-1" (submit)="search()">
            <div class="searchbar form-control">
                <i class="fa fa-2x fa-search mr-2"></i>
                <input class="search-input" type="search" name="search" [(ngModel)]="searchString" placeholder="Search Articles..." aria-label="Search">
            </div>
        </form>
        <!-- Nav Items -->
        <ul class="navbar-nav mr-5">
            <!-- Recent Updates -->
            <li class="nav-item mx-2">
                <a routerLink="{{constants.wikiUrlFrontendPrefix}}/recent-updates" class="nav-link nav-link-text"> Recent Updates </a>
            </li>
            <!-- Rules -->
            <li class="nav-item mx-2">
                <a routerLink="{{constants.wikiUrlFrontendPrefix}}/rules" class="nav-link"> 
                    <span class="d-md-none nav-link-text mr-3">Rules</span> 
                    <i class="fa fa-book fa-2x" aria-hidden="true"></i>
                </a>
            </li>
            <!-- Session Audio -->
            <li class="nav-item mx-2">
                <a class="nav-link" routerLink="{{constants.wikiUrlFrontendPrefix}}/sessionaudio"> 
                    <span class="d-md-none nav-link-text mr-3">Session Audio</span> 
                    <i class="fa fa-file-audio-o fa-2x" aria-hidden="true"></i> 
                </a>
            </li>
            <!-- Log out -->
            <li class="nav-item mx-2">
                <a (click)="logout()" class="nav-link"> 
                    <span class="d-md-none nav-link-text mr-3">Logout</span> 
                    <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i> 
                </a>
            </li>

        </ul>

    </div>

</nav>