<div class="container" id="news">
    <!-- List Heading -->
    <h3 class="row justify-content-center align-items-center">
        <span class="">Recent Updates</span>
        <ng-container *ngIf="!articles">
            <app-spinner class="ml-3"></app-spinner>
        </ng-container>
    </h3>

    <div class="row">
        <ng-container *ngFor="let article of articles">
            <div class="mycolpadding col-6 col-md-4 col-lg-3 mb-4">
                <a class="card"
                [routerLink]="article.getAbsoluteRouterUrl()" 
                [title]="article.article_type | titlecase">

                    <!-- Heading -->
                    <header class="card-img-top d-flex align-items-center justify-content-center">
                        <ng-container 
                        *ngTemplateOutlet="!!article.image_url ? articleIconTemplate : defaultIconTemplate; 
                        context: { $implicit: { article } }"
                        ></ng-container> 
                    </header>
    
                    <!-- Body -->
                    <div class="card-body">
                        <div class="card-title">
                            <strong> {{ getArticleName(article)}} </strong>
                        </div>
    
                        <div class="card-subtitle mb-2"> 
                            
                            {{ article.update_datetime | date }} 
                            <div class="text-muted"> 
                                <ng-container *ngIf="isDiaryEntry(article)"> 
                                    {{article.author_details?.name}}'s 
                                </ng-container>
                                {{ article.article_type}}
                            </div>
                        </div>
                        
                        <div class="card-text">
                            {{article.description}}
                        </div>
                    </div>
                </a>
                
            </div>
            
        </ng-container>

        
    </div>
    
</div>

<ng-container *ngIf="isLoadingNextPage">
    <div class="mb-4"> 
        <app-spinner></app-spinner> 
    </div> 
</ng-container>

<ng-template #articleIconTemplate let-context>
    <img [src]="constants.wikiUrl + context.article.image_url" alt="article image">
</ng-template>

<ng-template #defaultIconTemplate let-context>
    <i [class]="'fa-4x ' + getArticleTypeMetaData(context.article.article_type).iconClass"></i>
</ng-template>   
