<div *ngIf="quote && quote.pk || inCreateState; else addNewQuoteButton">
    <app-quotefield
    [character]="character"
    [quote]="quote"
    [enableCreatingQuotes]="true"
    [enableLinkToOverview]="true"
    [enableRandomQuotes]="true"
    [inCreateState]="inCreateState"
    (delete)="onQuoteDelete()"
    ></app-quotefield>
</div>

<!-- Loading Spinner -->
<ng-template #loading><app-spinner></app-spinner></ng-template>

<!-- Add New Quote Button If Character has no Quote -->
<ng-template #addNewQuoteButton>
    <div class="row">
        <div 
        class="btn btn-secondary col-md-3" 
        [ngClass]="{'d-none': !userHasCreatePermission()}" 
        (click)="toggleCreateState()"
        >
            Add Quote
        </div>
    </div>
</ng-template>