<ng-container *ngIf="campaign && quote && quote.pk || inCreateState; else addNewQuoteButton">
    <app-quotefield
    [character]="character"
    [quote]="quote"
    [campaign]="campaign"
    [enableCreatingQuotes]="true"
    [enableLinkToOverview]="true"
    [enableRandomQuotes]="true"
    [inCreateState]="inCreateState"
    (delete)="onQuoteDelete()"
    ></app-quotefield>
</ng-container>

<!-- Add New Quote Button If Character has no Quote -->
<ng-template #addNewQuoteButton>
    <div class="row">
        <div class="btn btn-secondary col-md-3" 
        [ngClass]="{'d-none': !hasCreatePermission}" 
        (click)="toggleCreateState()">
            Add Quote
        </div>
    </div>
</ng-template>