<div class="main">
    <article *ngIf="articleData; else loading" class="container">
        <div class="row">
            <h1 class="text-center col" [innerHTML]="articleData.name"></h1>
        </div>

        <div class="mb-3">

            <!-- Encounter Session -->
            <div class="row">
                <span class="col-md-3 col-6 bold"> Session: </span>
                <span class="col-md-3 col-6">{{articleData.session_number_details.name_full}}</span>
            </div>

            <!-- Encounter Location -->
            <div class="row">
                <span class="col-md-3 col-6 bold">Location: </span>
                <span class="col-md-3 col-6">
                    <a 
                    routerLink="{{routingService.getRoutePath('location', {
                            parent_name: articleData.location_details.parent_location_name, 
                            name: articleData.location_details.name
                        })
                    }}"
                    >
                        {{articleData.location_details.name}}
                    </a>
                </span>
            </div>

            <!-- EncounterConnections -->
            <div>
                <!-- EncounterConnection Heading -->
                <div class="bold icon-container">
                    Characters: 
                    <i class="fa fa-plus icon ml-1" (click)="toggleAddEncounterConnectionState()"></i>
                </div>

                <!--Add EncounterConnection Form -->
                <form class="row align-items-center" *ngIf="addEncounterConnectionState" (submit)="createEncounterConnection()">
                    <!-- Encounter Connection Form Fields -->
                    <div class="col-md-6 col-9 pr-0">
                        <select class="form-control" name="character" id="character" [(ngModel)]="baseEncounterConnection.character">
                            <option 
                            *ngFor="let character of characters" 
                            value="{{character.pk}}"
                            >
                                {{character.name}}
                            </option>
                        </select>
                    </div>

                    <div class="col-md-2 col-3 pr-0">
                        <!-- Show Encounter Connection Form/Cancel Encounter Connection Form Button-->
                        <i 
                        class="fa icon fa-1-5x mr-3"
                        [ngClass]="{'fa-plus': !addEncounterConnectionState, 'fa-times': addEncounterConnectionState}"
                        (click)="toggleAddEncounterConnectionState()"
                        ></i>
    
                        <!-- Create Encounter Connection Button -->
                        <button type="submit">
                            <i class='fa icon fa-1-5x fa-check'></i>
                        </button>
         
                    </div>

                </form>

                <!-- EncounterConnection List -->
                <div *ngFor="let character of articleData.encounterConnections; let i = index" class="icon-container">
                    <a routerLink="{{routingService.getRoutePath('character', {name: character.character_details.name}) }}">
                        {{character.character_details.name}}
                    </a>
                    <i class="fa fa-trash icon ml-4" (click)="deleteEncounterConnection(character)"></i>
                </div>

            </div>
        </div>

        <!-- Encounter Text -->
        <div class="mb-1">
            <app-textfield 
            [initialText]="articleData.description"
            [heading]="'Description'"
            [formStateSubject]="textfieldFormStateSubject"
            (updateText)="onDescriptionUpdate($event)"
            ></app-textfield>
        </div>

        <app-article-footer
        (delete)="deleteArticle()"
        [link]="routingService.getRoutePath('home1')"
        [label]="'Back to Frontpage'"
        [deleteMessage]="'Delete this Encounter?'"
        ></app-article-footer>

    </article>
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>