<div class="row">
    <!-- Move to other Page -->
    <div class="col-md-3">
        <ng-container *ngIf="link; then linkButton; else nonLinkButton"></ng-container>
    </div>

    <!-- Delete Article -->
    <app-delete-toggle
    *ngIf="showDelete"
    [deleteMessage]="deleteMessage"
    (deleteEvent)="onDelete()"
    class="col-md-9 float-right"
    ></app-delete-toggle>
</div>

<ng-template #linkButton>
    <a (click)="onClick()" [routerLink]="link" class="btn btn-secondary w-100">
        {{label}}
    </a>
</ng-template>

<ng-template #nonLinkButton>
    <a (click)="onClick()" class="col-md-3 btn btn-secondary">
        {{label}}
    </a>
</ng-template> 