<div class="row">
    <!-- Move to other Article -->
    <div class="col-md-3">
        <a
        *ngIf = "link, else nonLinkButton"
        (click) = "onClick()"
        routerLink="{{link}}" 
        class="btn btn-secondary w-100">
            {{label}}
        </a>
    </div>

    <!-- Delete Article -->
    <app-delete-toggle
    *ngIf="showDelete"
    [deleteMessage]="deleteMessage"
    (deleteEvent)="onDelete()"
    class="col-md-9 float-right"
    ></app-delete-toggle>
</div>


<ng-template #nonLinkButton>
    <a
    (click) = "onClick()"
    class="col-md-3 btn btn-secondary">
        {{label}}
    </a>
</ng-template> 