<!-- DO NOT USE FOR LOCATIONS AS THEIR WAY OF HYPER-LINKING DOESN'T WORK HERE -->
<div>
    <!-- Heading -->
    <h4>
        {{heading}}
        <i class="fa fa-plus icon ml-1" routerLink="{{createLink}}" [ngClass]="{'d-none': !hasCreatePermission}"></i>
    </h4>
    <!-- List -->
    <ul>
        <li *ngFor="let item of items">
            <a routerLink="{{constants.wikiUrlFrontendPrefix}}/{{articleType}}/{{campaign}}/{{item.name}}">
                {{item.name}}
                <ng-container *ngIf="articleType === 'organizationCharacter'">
                    ({{ item.role}})
                </ng-container>
            </a>
        </li>
    </ul>
</div>