<div class="container px-0" *ngIf="!isUpdating; else waiting">
    <div class="d-flex mb-5 justify-content-center">
        <div class="col-lg-4 col-md-6 col-12 btn btn-secondary" (click)="toggleDiaryEntryView()" *ngIf="hasUpdatePermission && hasDeletePermission && hasCreatePermission">
            Currently viewing as : 
            <span *ngIf="diaryEntryView"> Diary entry </span>
            <span *ngIf="!diaryEntryView"> Encounter list </span>
        </div>
    </div>

    <!-- Insert new first Encounter -->
    <div *ngIf="!diaryEntryView && hasUpdatePermission && hasDeletePermission && userHasCreatePermission" class="expand row">
        <div class="col-md-3 col-0"></div>
        <div class="col-md-6 d-flex justify-content-around">
            <div class="btn btn-primary" (click)="toggleEncounterCreateState(-1)">
                <i class="fa fa-3x fa-plus pointer" title="Add Encounter to Diaryentry"></i>
            </div>

            <div class="btn btn-secondary" [ngClass]="{'disabled': cutEncounterIndex == null}" (click)="insertExcisedEncounter(-1 + 1)">
                <i class="fas fa-3x fa-file-import pointer" title="Insert Cut Encounter"></i>
            </div>
        </div>
        <div class="col-md-3 col-0"></div>
    </div>

    <!-- Diaryentry - Encounters -->
    <div class="row">
        <div *ngFor="let encounter of encounters; let encounterIndex = index" class="w-100">
            <!-- Encounters -->
            <app-diary-entry-encounter
            #encounters
            *ngIf="!isEncounterUpdating[encounterIndex] else waiting;"
            class="col-12 px-0"
            [cardData]="encounter"
            [index]="encounterIndex"
            [cutEncounterIndex]="cutEncounterIndex"
            [diaryEntryView]="diaryEntryView"
            (cardDelete)="deleteEncounter(encounterIndex)"
            (cardCreate)="onEncounterCreate($event, encounterIndex)"
            (encounterOrderIncrease)="onEncounterOrderIncrease(encounterIndex)"
            (encounterOrderDecrease)="onEncounterOrderDecrease(encounterIndex)"
            (excisionStart)="onExcisionStart(encounterIndex)"
            (excisionCancel)="onExcisionCancel(encounterIndex)"
            ></app-diary-entry-encounter>

            <!-- Insert new Encounter -->
            <div *ngIf="!diaryEntryView" class="expand row">
                <div class="col-md-3 col-0"></div>
                <div class="col-md-6 d-flex justify-content-around">
                    <div class="btn btn-primary" (click)="toggleEncounterCreateState(encounterIndex)">
                        <i class="fa fa-3x fa-plus pointer" title="Add Encounter to Diaryentry"></i>
                    </div>
                    <!-- insertExcisedEncounter has encounterIndex+1 because the insertion is supposed to happen AFTER this encounter, not before it -->
                    <div class="btn btn-secondary" [ngClass]="{'disabled': cutEncounterIndex == null}" (click)="insertExcisedEncounter(encounterIndex + 1)">
                        <i class="fas fa-3x fa-file-import pointer" title="Insert Cut Encounter"></i>
                    </div>
                </div>
                <div class="col-md-3 col-0"></div>
            </div>

        </div>
    </div>
</div>

<ng-template #waiting class="mb-4"> <app-spinner></app-spinner> </ng-template> 
