<div class="main">
    <article *ngIf="articles; else loading" class="container">
        <!-- Heading -->
        <div class="row">
            <h1 class="text-center col">Recently Updated</h1>
        </div>

        <app-colored-sidebar-legend></app-colored-sidebar-legend>

        <!-- Article Sections -->
        <div class="my-3" *ngFor="let articleGroup of articles|groupBy: 'update_date'">

            <!-- Date Heading -->
            <div class="mb-1">{{articleGroup.key|date}}</div>

            <!-- Article List For Date -->
            <a 
            routerLink="{{ article.getAbsoluteRouterUrl() }}" 
            *ngFor="let article of articleGroup.value"
            [ngClass]="'card flex-row align-items-center py-2 row sidebar-border ' + sidebarColor(article.article_type)"
            >

                <!-- Article Name-->
                <div class="col-md-4 text-center "> 
                    <h5 class="mb-0"><strong>{{article.name}}</strong></h5>
                </div>

                <!-- Article Text -->
                <div class="col-md-8 font-size-16">
                    <div>{{article.description}}</div>
                </div>

            </a>
        </div>

        <!-- Footer -->
        <div class="row">
            <div 
            class="btn btn-secondary col-md-3" 
            routerLink="{{routingService.getRoutePath('home1')}}"
            >
                Back To Frontpage
            </div>
        </div>
        
    </article>
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>