.sidebar-border{
    border-left: solid 10px;
}

.yellow{
    border-left-color: yellow;
}

.lightgreen{
    border-left-color: lightgreen;
}

.lightpink{
    border-left-color: #ee8600;
}

.brown{
    border-left-color:#b7410e;
}

.blue{
    border-left-color: #4169e1;
}

.black{
    border-left-color: black;
}

.gray{
    border-left-color: gray;
}

.white{
    border-left-color: white;
}

.green{
    border-left-color: darkgreen;
}

.darkgreen{
    border-left-color: #2f4a36;
}

.orange{
    border-left-color: orange;
}

.violet{
    border-left-color: #9871D2;
}

.purple{
    border-left-color: #5d3754;
}

.beige{
    border-left-color: var(--beige);
}

.teal{
	border-left-color: #1cd2c0;
}

.darkpink{
    border-left-color: #b03060
}

.red{
    border-left-color: #bc0f0f;
}

.darkred{
    border-left-color: #92000A;
}

.darkyellow{
	border-left-color: #e6ae25;
}
