        <div class="d-flex flex-row position-relative justify-content-around flex-wrap">
            <div>
                <div [ngClass]="coloredSidebar('character')"></div>
                <div class="mx-3"> Character </div>
            </div>
            <div>
                <div [ngClass]="coloredSidebar('creature')"></div>
                <div class="mx-3"> Creature </div>
            </div>
            <div>
                <div [ngClass]="coloredSidebar('diaryentry')"></div>
                <div class="mx-3"> DiaryEntry </div>
            </div>
            <div>
                <div [ngClass]="coloredSidebar('encounter')"></div>
                <div class="mx-3"> Encounter </div>
            </div>
            <div>
                <div [ngClass]="coloredSidebar('item')"></div>
                <div class="mx-3"> Item </div>
            </div>
            <div>
                <div [ngClass]="coloredSidebar('location')"></div>
                <div class="mx-3"> Location </div>
            </div>
            <div>
                <div [ngClass]="coloredSidebar('organization')"></div>
                <div class="mx-3"> Organization </div>
            </div>
            <div>
                <div [ngClass]="coloredSidebar('quest')"></div>
                <div class="mx-3"> Quest </div>
            </div>
        </div>