.sidebar{
    width: 5px;
    height: 90%;
    position: absolute;
}

.yellow{
    background-color: #e8b41b;
}

.darkpink{
    background-color: #ca0263;
}

.lightpink{
    background-color: #f293a4;
}

.brown{
    background-color: brown;
}

.blue{
    background-color: blue;
}

.black{
    background-color: black;
}

.gray{
    background-color: gray;
}

.white{
    background-color: white;
}