.sidebar-border{
    border-left: solid 5px;
}

.yellow{
    border-left-color: #e8b41b;
}

.darkpink{
    border-left-color: #ca0263;
}

.lightpink{
    border-left-color: #f293a4;
}

.brown{
    border-left-color: brown;
}

.blue{
    border-left-color: blue;
}

.black{
    border-left-color: black;
}

.gray{
    border-left-color: gray;
}

.white{
    border-left-color: white;
}