@import '/src/app/cssvariables.scss';

#sidebar{
    height: 100vh;
    width: 4rem;
    transition: width 0.2s ease-in-out;
    position: fixed;
    background-color: var(--bs-gray-dark);
    z-index: 1005; //Necessary because map uses z-indexes going up to 1000
    overflow-y: auto;
    overflow-x: hidden; //Necessary because when sidebar folds out, x scrollbar appears
    display: flex;
    flex-shrink: 0;
    flex-direction: column;

    border-right-color: white;
    border-right-width: 1px;
    border-right-style: outset;
}

@media (hover: hover) and (pointer: fine) {
    /* Styling list elements so their background color changes on hover but they still remain some distance away from the left edge */
    li.entry:hover,
    li.entry:focus a,
    li.entry a:focus{
        background-color: var(--secondary);
        color: var(--link-blue);
    }


    #sidebar:hover {
        width: 20rem; 

        li a{
            justify-content: unset;
            padding-left: 1rem;
        }

        .on-hover-show{
            display: block;
    
            -webkit-animation: fadeInFromNone 0.3s ease-out;
            -moz-animation: fadeInFromNone 0.3s ease-out;
            -o-animation: fadeInFromNone 0.3s ease-out;
            animation: fadeInFromNone 0.3s ease-out; 
        }

        .on-hover-show.overview-link.flex{
            display: flex ;
            align-items: center;
            justify-content: center;
        }

        .on-hover-show.flex{
            display: flex;
            align-items: center;
        }
    }
}

/* For slide in/out left animations on swiping left/right on Touch devices */
#sidebar.swiped-right{
    display: block;
    width: 20rem;
    touch-action: pan-y !important; //Essential to allow scrolling in sidebar despite hammerjs being active

    -webkit-animation: slideInLeft 0.2s ease-out;
    -moz-animation: slideInLeft 0.2s ease-out;
    -o-animation: slideInLeft 0.2s ease-out;
    animation: slideInLeft 0.2s ease-out; 
}

.swiped-left{
    display: unset;
    width: 4rem;

    -webkit-animation: slideInLeft 0.2s ease-out;
    -moz-animation: slideInLeft 0.2s ease-out;
    -o-animation: slideInLeft 0.2s ease-out;
    animation: slideInLeft 0.2s ease-out; 

    animation-direction: reverse;
}

/* General styling for list entries*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

    &.footer{
        border-top: 4px inset;
    }
}


li{
    list-style-type: none;
    height: 3rem;
    font-weight: bold;
    font-size: large;
    flex-shrink: 0;

    a{
        height: 100%;
        display: flex;
        align-items: center;
        border-bottom: none;
    }

    i{ //entry icon
        text-align: center;
        width: 3rem;
    }

    &.entry.footer{
        align-self: flex-end;
    }
}

#sidebar.swiped-right #user-section.active,
#sidebar:hover #user-section.active{
    height: auto;
}

/* Required for the original container to not lose their height when the application of the .active class changes height to auto*/
#user-section {
    #user-links{
        padding-left: 1.5rem;
        display: none;
    }

    &.active{
        a{
            height: 3rem;
        }
    
        #user-links{
            display: block;
        }
    }
}

#sidebar:hover #user-links .on-hover-show, 
#sidebar:hover #user-links.on-hover-show{
    -webkit-animation: fadeInFromNone 0.2s ease-in;
    -moz-animation: fadeInFromNone 0.2s ease-in;
    -o-animation: fadeInFromNone 0.2s ease-in;
    animation: fadeInFromNone 0.2s ease-in;
}



#brand{
    height: 3rem;
    font-size: 1.5rem;
    margin: auto !important;
}

#sidebar:hover #brand{
    margin-left: 0.5rem !important;
}

#brand .campaign-icon{
    height: 32px;
    width: 32px;
}

.brand-entry:hover, 
.brand-entry:hover h3#brand{
    color: var(--link-blue);
}

#sidebar:hover .brand-entry h3#brand span,
#sidebar:hover .brand-entry h3#brand,
#sidebar:hover .brand-entry{
    overflow:hidden;
    text-overflow: ellipsis;
}


.brand-line {
    a{
        border-bottom: none !important;
    }

    .overview-link{
        margin-top: auto;
        margin-bottom: auto;
        padding-right: 1rem;
        border-right: solid 2px white;
    }

    .overview-link:hover{
        background-color: transparent;
        color: var(--link-blue);
    }
}


//Fade in from none animation
#sidebar {
    .on-hover-show{
        display: none;
    }

    &.swiped-right .on-hover-show{
        display: block;
    
        -webkit-animation: fadeInFromNone 0.3s ease-out;
        -moz-animation: fadeInFromNone 0.3s ease-out;
        -o-animation: fadeInFromNone 0.3s ease-out;
        animation: fadeInFromNone 0.3s ease-out;

        &.overview-link.flex{
            display: flex ;
            align-items: center;
            justify-content: center;
        }
    }
}

.disabled-entry{
    pointer-events: none;
    opacity: 0.3;
    color: unset;
    background-color: unset;
}


@media(max-width: $small-screen){
    #brand{
        padding-left: 0.5rem;
    }
    
    #sidebar{
        display: none;
        width: 0vw;
    }

    #sidebar.swiped-right{
        display: flex;
        width: 75vw;
    
        -webkit-animation: slideInLeft-mobile 0.2s ease-out;
        -moz-animation: slideInLeft-mobile 0.2s ease-out;
        -o-animation: slideInLeft-mobile 0.2s ease-out;
        animation: slideInLeft-mobile 0.2s ease-out; 
    }


    #sidebar.swiped-left{
        display: none;
        width: 0vw;
    
        -webkit-animation: slideInLeft-mobile 0.2s ease-out;
        -moz-animation: slideInLeft-mobile 0.2s ease-out;
        -o-animation: slideInLeft-mobile 0.2s ease-out;
        animation: slideInLeft-mobile 0.2s ease-out; 
    
        animation-direction: reverse;
    }
}

@media(max-width: $xsmall-screen){
    #brand{
        font-size: 1.5rem;
    }
}



/**************/
/* ANIMATIONS */
/**************/

/* FADE IN FROM NONE FOR ALL DEVICES*/
@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    60% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    60% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    60% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    60% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

/* SLIDE IN LEFT ON MOBILE*/
@-webkit-keyframes slideInLeft-mobile {
    0% {
        display: none;
        width: 0rem;
    }

    1% {
        display: block;
        width: 0rem;
    }

    100% {
        display: block;
        width: 75vw;
    }
}

@-moz-keyframes slideInLeft-mobile {
    0% {
        display: none;
        width: 0rem;
    }

    1% {
        display: block;
        width: 0rem;
    }

    100% {
        display: block;
        width: 75vw;
    }
}

@-o-keyframes slideInLeft-mobile {
    0% {
        display: none;
        width: 0rem;
    }

    1% {
        display: block;
        width: 0rem;
    }

    100% {
        display: block;
        width: 75vw;
    }
}

@keyframes slideInLeft-mobile{
    0% {
        display: none;
        width: 0rem;
    }

    1% {
        display: block;
        width: 0rem;
    }

    100% {
        display: block;
        width: 75vw;
    }
}

/* SLIDE IN LEFT ON GENERAL DEVICE*/
@-webkit-keyframes slideInLeft {
    0% {
        display: none;
        width: 0rem;
    }

    1% {
        display: block;
        width: 0rem;
    }

    100% {
        display: block;
        width: 75vw;
    }
}

@-moz-keyframes slideInLeft {
    0% {
        display: none;
        width: 0rem;
    }

    1% {
        display: block;
        width: 0rem;
    }

    100% {
        display: block;
        width: 75vw;
    }
}

@-o-keyframes slideInLeft {
    0% {
        display: none;
        width: 0rem;
    }

    1% {
        display: block;
        width: 0rem;
    }

    100% {
        display: block;
        width: 75vw;
    }
}

@keyframes slideInLeft{
    0% {
        display: none;
        width: 0rem;
    }

    1% {
        display: block;
        width: 0rem;
    }

    100% {
        display: block;
        width: 20rem;
    }
}

