<nav id="sidebar"
[ngClass]="{'swiped-right': showSidebar.getValue(), 'swiped-left': !showSidebar.getValue()}"
>
    <!-- Brand -->
    <a routerLink="{{ routingService.getRoutePath('home2', {campaign: campaign}) }}">
        <h3 class="d-flex align-items-center justify-content-center my-2" id="brand"> 
            <i class="aldrune-icon" crossorigin="anonymous"></i>
            <span class="on-hover-show">Aldrune Wiki</span>
        </h3>
    </a>

    <!-- Sidebar Items -->
    <ul>
        <!-- User Section. This is a menu-container, it's title identified by "container-title" class, which is relevant for swipe gesture behaviour, see app.component.ts -->
        <li id="user-section" [ngClass]="{'active': showUserSection}">
            <a class="pointer" (click)="showUserSection = !showUserSection">
                <i class="fa fa-user-circle"></i>
                <span class="on-hover-show container-title">
                    User
                    <span *ngIf="showAdminSection"> & Admin</span>
                    <i class="fa" [ngClass]="{'fa-chevron-down': !showUserSection, 'fa-chevron-up': showUserSection}"></i>
                </span>
            </a>
            <ul id="user-links" class="on-hover-show" >
                <!-- Profile -->
                <li>
                    <a class="on-hover-show" routerLink="{{ routingService.getRoutePath('profile', {username: tokenService.getCurrentUserName()})}}">
                        <i class="fa fa-user"></i>
                        <span> Profile </span>
                    </a>
                </li>

                <!-- Admin Section -->
                <li *ngIf="showAdminSection">
                    <a class="on-hover-show" routerLink="{{ routingService.getRoutePath('admin') }}" >
                        <i class="fas fa-globe-europe"></i>
                        <span> General Admin </span>
                    </a>
                </li>

                <li *ngIf="showAdminSection">
                    <a class="on-hover-show" routerLink="{{ routingService.getRoutePath('campaign-admin', {campaign: campaign}) }}" >
                        <i class="fas fa-dragon"></i>
                        <span> Campaign Admin </span>
                    </a>
                </li>

                <!-- Config Tables -->
                <li *ngIf="showAdminSection">
                    <a class="on-hover-show" routerLink="{{ routingService.getRoutePath('config-tables') }}">
                        <i class="fa fa-table"></i>
                        <span> Config Tables </span>
                    </a>
                </li>

                <!-- Logout -->
                <li>
                    <a class="on-hover-show pointer" (click)="logout()"> 
                        <i class="fas fa-sign-out-alt"></i>
                        <span> Logout</span> 
                    </a>
                </li>

            </ul>
        </li>

        <!-- Sidebar Entries -->
        <li *ngFor="let entry of sidebarEntries">
            <a routerLink="{{entry.route}}" class="d-flex align-items-center entry">
                <i class="{{ entry.iconClass}}"></i>
                <span class="on-hover-show">{{entry.title}}</span>
            </a>
        </li>
    </ul>
</nav>