<div id="wrapper" [ngClass]="{'is-preload': isLoaded}" (window:load)=onWindowLoad()>
    <!-- Header -->
    <header id="header">
        <div class="logo">
            <a routerLink="{{ constants.getRoutePath(router, 'quest-overview') }}" class="article-link">
                <span class="fa fa-diamond fa-2x icon"></span>
            </a>
        </div>
        <div class="content">
            <div class="inner">
                <h1>Aldrune</h1>
                <p class="bold"> 
                    A campaign made by Samuel Day and recorded by Philipp Dörner <br>
                    Through the eyes of Relentless.
                </p>
            </div>
        </div>
        <nav>
            <ul>
                <li><b><a class="article-link" routerLink="{{constants.getRoutePath(router, 'character-overview')}}">Characters</a></b></li>
                <li><b><a class="article-link" routerLink="{{constants.getRoutePath(router, 'location-overview')}}">Places</a></b></li>
                <li><b><a class="article-link" routerLink="{{constants.getRoutePath(router, 'diaryentry-overview')}}">Diary</a></b></li>
                <li><b><a class="article-link" routerLink="{{constants.getRoutePath(router, 'organization-overview')}}">Groups</a></b></li>
                <li><b><a class="article-link" routerLink="{{constants.getRoutePath(router, 'creature-overview')}}">Bestiary</a></b></li>
                <li><b><a class="article-link" routerLink="{{constants.getRoutePath(router, 'item-overview')}}">Items</a></b></li>
                <li><b><a class="article-link" routerLink="{{constants.getRoutePath(router, 'map', {name: constants.defaultMapName})}}">Map</a></b></li>
            </ul>
        </nav>
    </header>
</div>