<div id="wrapper" [ngClass]="{'is-preload': isLoaded}" (window:load)=onWindowLoad()>
    <!-- Header -->
    <header id="header">
        <div class="logo">
            <a routerLink="/quest" class="article-link"><span class="fa fa-diamond fa-2x icon"> </span></a>
        </div>
        <div class="content">
            <div class="inner">
                <h1>Aldrune</h1>
                <p class="bold"> 
                    A campaign made by Samuel Day and recorded by Philipp Dörner <br>
                    Through the eyes of Relentless.
                </p>
            </div>
        </div>
        <nav>
            <ul>
                <li><b><a class="article-link" routerLink="/character">Characters</a></b></li>
                <li><b><a class="article-link" routerLink="/location">Places</a></b></li>
                <li><b><a class="article-link" routerLink="/diaryentry">Diary</a></b></li>
                <li><b><a class="article-link" routerLink="/organization">Groups</a></b></li>
                <li><b><a class="article-link" routerLink="/creature">Bestiary</a></b></li>
                <li><b><a class="article-link" routerLink="/item">Items</a></b></li>
                <li><b><a class="article-link" routerLink="/map">Map</a></b></li>
            </ul>
        </nav>
    </header>
</div>