<div class="mb-3">

    <label for="formly_disable_select_{{props.label}}">
        <strong placement="top"
        [ngbTooltip]="tooltipContent"
        [tooltipClass]="'my-tooltip'"> 
            {{props.label}} 
            <span class="fa fa-info-circle mx-1"></span>
            <ng-container *ngIf="props.required">*</ng-container>
        </strong>

    </label>
    
    <ng-container *ngIf="{
        allSelectOptions: allSelectOptions$ | async,
        isOptionsDisabledArray: isOptionDisabledArray$ | async
    } as data; else loading">
        <select 
        [id]="'formly_disable_select_' + props.label" 
        [required]="props.required"
        class="form-select"
        [formControl]="formControl" 
        [formlyAttributes]="field"
        >
            <ng-container *ngFor="let selectOption of data.allSelectOptions; let optionIndex = index">
                <option [ngValue]="selectOption[props.valueProp]" [disabled]="data.isOptionsDisabledArray[optionIndex]">
                    {{selectOption[props.labelProp]}}
                </option>
            </ng-container>
        </select>
    </ng-container>

    <ng-container *ngIf="hasInvalidOptionSelected$ | async">
        <div class="mywarningmessage">
            {{ props.warningMessage }}
        </div>
    </ng-container>
</div>

<ng-template #tooltipContent>
    <div class="alert alert-info m-0 p-0">
        {{ props.tooltipMessage }}
    </div>
</ng-template>

<!-- Loading Spinner -->
<ng-template #loading><app-spinner></app-spinner></ng-template>
