<div class="mb-3">

    <label for="formly_disable_select_{{to.label}}">
        <strong placement="top"
        [ngbTooltip]="tooltipContent"
        [tooltipClass]="'my-tooltip'"> 
            {{to.label}} 
            <span class="fa fa-info-circle mx-1"></span>
            <ng-container *ngIf="to.required">*</ng-container>
        </strong>

    </label>
    
    <select 
    [id]="'formly_disable_select_' + to.label" 
    [required]="to.required"
    class="form-control"
    [formControl]="formControl" 
    [formlyAttributes]="field"
    >
        <ng-container *ngFor="let selectOption of allSelectOptions; let optionIndex = index">
            <option [ngValue]="selectOption[to.valueProp]" [disabled]="this.isOptionDisabledArray[optionIndex]">
                {{selectOption[to.labelProp]}}
            </option>
        </ng-container>
    </select>

    <ng-container *ngIf="hasInvalidOptionSelected()">
        <div class="mywarningmessage">
            {{ to.warningMessage }}
        </div>
    </ng-container>
</div>

<ng-template #tooltipContent>
    <div class="alert alert-info m-0 p-0">
        {{ to.tooltipMessage }}
    </div>
</ng-template>
    
<!-- This is solely written here because doing this is to trigger determineDisabledStateOfOptions
is simpler than figuring out how to get ngOnChanges to trigger whenever the model is updated...
Which would likely mean replacing the model -->
{{ ngOnChanges() }}
