<div class="main">
    <article class="mb-5" *ngIf="model; else loading">
        <app-edit-toggle 
        [isInUpdateState]=true 
        [link]="mapUrl"
        ></app-edit-toggle>

        <h2 class="text-center"> Adding a new Marker </h2>

        <!-- Form -->
        <app-formly-formcontainer 
        [model]="model" 
        [fields]="fields" 
        (formlySubmit)="onSubmit()" 
        (formlyCancel)="onCancel()"
        ></app-formly-formcontainer>

    </article>
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>