.icon-container .icon{
    opacity: 0;
    transition: opacity 0.2s;
}

.icon-container:hover .icon{
    opacity: 1;
}

.main{
    max-width: 75rem;
}

@media(max-width: 768px){
	app-leaflet-map{
        margin-left: 1rem;
        margin-right: 1rem;
	}
}