<div class="main">
    <article *ngIf="maps && currentMap; else loading">
        <!-- Heading -->
        <app-edit-toggle></app-edit-toggle>
        
        <div class="row text-center">
            <h3 class="icon-container col">
                <!-- Map-Selector -->
                Map of
                <select name="map" id="map" #mapChoice (change)="onMapChange($event)">
                    <option *ngFor="let map of maps" value="{{map.name}}">{{map.name}}</option>
                </select> 

                <!-- Add Map Button -->
                <i 
                class="fa fa-plus icon ml-3" 
                routerLink="{{constants.getRoutePath(router, 'map-create') }}"
                ></i>
            </h3>
        </div>

        <!-- Leaflet Map -->
        <div class="mx-3 mb-5">
            <app-leaflet-map 
            [map]="currentMap"
            ></app-leaflet-map>
        </div>


        <!-- Footer (Move to other Article + Delete Article) -->
        <app-article-footer
        (delete)="deleteMap()"
        [link]="constants.getRoutePath(router, 'home1')"
        [label]="'Back to Frontpage'"
        [deleteMessage]="'Delete Map of '+currentMap.name+'?'"
        ></app-article-footer>
        
    </article>
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>