.icon-container .icon{
    opacity: 0;
    transition: opacity 0.2s;
}

.icon-container:hover .icon{
    opacity: 1;
}


select {
    background-color: #4c4c4c;
    background-clip: padding-box;
    border: 1px solid #222;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: white;
    font-weight: bold;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.main{
    max-width: 75rem;
}

@media(max-width: 768px){
	app-leaflet-map{
        margin-left: 1rem;
        margin-right: 1rem;
	}
}