<ng-template #content let-cl="close" let-di="dismiss">  
    <div class="modal-content"> 
         
        <div class="modal-header">  
            <h5 class="modal-title">Delete Confirmation</h5>
            <button type="button" class="close" (click)="di()">  
                <i class="fa fa-times"></i>
            </button> 
        </div>  

        <div class="modal-body">  
            <p>Do you want to delete {{ article }} ?</p>  
        </div>  

        <div class="modal-footer"> 
            <button type="button" class="btn btn-secondary" (click)="di()"> Cancel </button> 
            <button type="button" class="btn btn-outline-danger" (click)="cl()"> Delete </button> 
        </div> 

    </div>  
</ng-template>