<div class="main">
    <article class="mb-5">
        <!-- Heading -->
        <div *ngIf="formState===constants.updateState && model; else createState">
            <app-edit-toggle [isInUpdateState]=true [link]="'..'"></app-edit-toggle>

            <h2 class="text-center">
                Updating SessionAudio {{ model.session_details.name }}
            </h2>
        </div>

        <ng-template #createState>
            <app-edit-toggle [isInUpdateState]=true [link]="'/sessionaudio'"></app-edit-toggle>

            <h2 class="text-center">
                Uploading Session Audio File
            </h2>
        </ng-template>


        <!-- Form -->
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
            <button class="btn btn-dark mr-3" routerLink="..">Cancel</button>
            <button type="submit" class="btn btn-outline-dark">Submit</button>
        </form>
    </article>

    <!-- Spinner while loading -->
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>