<div class="main">
    <article class="mb-5">
        <!-- Heading -->
        <div *ngIf="(isInUpdateState() || isInOutdatedUpdateState()) && userModel; else createState">
            <app-edit-toggle 
            [isInUpdateState]=true 
            [link]="'..'"
            ></app-edit-toggle>

            <h2 class="text-center">
                Updating SessionAudio {{ userModel.session_details.name }}
            </h2>
        </div>

        <div *ngIf="!fileUploadProgress; else uploadBar">
            <!-- Form -->
            <app-formly-formcontainer 
            [model]="userModel" 
            [fields]="formlyFields" 
            (formlySubmit)="onSubmit()" 
            (formlyCancel)="onCancel()"
            ></app-formly-formcontainer>
        </div>
    </article>

    <!-- Spinner while loading -->
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>

<ng-template #createState>
    <app-edit-toggle 
    [isInUpdateState]=true 
    [link]="sessionAudioUrl"
    ></app-edit-toggle>

    <h2 class="text-center">
        Uploading Session Audio File
    </h2>
</ng-template>

<ng-template #uploadBar>
    <h4 class="text-center">File Upload Progress</h4>
    <div class="progress">
        <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="fileUploadProgress" aria-valuemin="0" aria-valuemax="100" [style.width.%]="fileUploadProgress">
            {{ fileUploadProgress | number: '1.0-1' }}%
        </div>
    </div>
</ng-template>