<div class="container" id="container-overview" #campaignOverviewContainer>
    <div class="row mx-0">
        <a 
        class="col-sm px-0 campaign" 
        *ngFor="let campaign of campaignData" 
        (click)="routeToCampaign(campaign.name)"
        [ngClass]="{'events-disabled': !campaign.isMember && !campaign.isGuest}"
        >
            <div class="campaign-overlay overlay-heading text-center">
                <h3> {{campaign.name}}</h3>
            </div>

            <div 
            *ngIf="!campaign.isMember && !campaign.isGuest"
            class="campaign-overlay overlay-lock fas fa-lock fa-5x">
            </div>

            <div class="background-image-background">
                <img 
                class="background-image" 
                [src]="constants.wikiUrl + campaign.background_image" 
                alt="Campaign Titel Image"
                >
            </div>

        </a>

    </div>
</div>

<ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
