<div class="container bg-color-black" id="container-overview" #campaignOverviewContainer>
    <div class="row mx-0" id="campaign-overview-heading" *ngIf="isGlobalAdmin()">
        <h3 class="flex-1 text-center">Choose your campaign</h3>
        <a routerLink="{{routingService.getRoutePath('admin')}}" class="float-right alert alert-info mb-0">
            <span class="fas fa-user-cog"></span>
            General administration
        </a>
    </div>
    <div class="row mx-0">
        <a 
        class="col-sm px-0 campaign" 
        *ngFor="let campaign of campaignData" 
        (click)="routeToCampaign(campaign.name)"
        [ngClass]="{'events-disabled': !campaign.isMember && !campaign.isGuest}"
        >
            <div class="campaign-overlay overlay-heading text-center">
                <h3> {{campaign.name}}</h3>
            </div>

            <div 
            *ngIf="!campaign.isMember && !campaign.isGuest"
            class="campaign-overlay overlay-lock fas fa-lock fa-5x">
            </div>

            <div class="flex-1">
                <img 
                class="background-image" 
                [src]="constants.wikiUrl + campaign.background_image" 
                alt="Campaign Titel Image"
                >
            </div>

        </a>

    </div>
</div>

<ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
