@import '/src/app/cssvariables.scss';

#container-overview{
    width: 100vw;
    min-height: 100vh; //Ensures the campaigns take up at least the whole screen, maybe more
    max-width: unset !important;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
}

.campaign{
    position: relative;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    min-height: 30vh;
    opacity: 0.75;
    transition: opacity 0.2s ease-in-out;
}

.campaign:hover{
    opacity: 1;
    border-bottom: none;
}

.campaign-overlay{
    position: absolute;
    background-color: var(--wiki-background-1);
    z-index: 1;
}

.campaign-overlay.overlay-heading{
    width: 100%;
    min-height: 4rem;
    line-break: anywhere;
    display: flex;
    justify-content: center;
    align-items: center;
}


.campaign:hover .campaign-overlay h3{
    color: var(--link-blue);
    transform: scale(1.2);
}

.campaign .campaign-overlay h3{
    transition: transform 0.2s ease-in-out;
}


.background-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
}

.campaign:hover .background-image{
    opacity: 1;
}

#campaign-overview-heading{
    background-color: var(--wiki-background-1);
    align-items: center;
    justify-content: center;
    height: 10%;
}

#campaign-overview-body .container,
#campaign-overview-body .container .row,
#campaign-overview-body .container .row .col-sm{
    max-height: 100%;
}

#campaign-overview-body .frame-text{
    color: black;
    bottom: 24%;
    width: 50%;
    height: 15%;
    text-align: center;
    
    & h4{
        color: black;
    }
}

@media(max-width: $medium-screen){
    .overlay-heading h3{
        font-size: 1.5rem;
    }

    #campaign-overview-heading{
        height: unset;
    }

    #campaign-overview-body .frame-text{
        font-size: 12px;
        
        & h4{
            font-size: 14px;
        }
    }

}


@media(max-width: $small-screen){
    .campaign-row{
        flex-direction: column;
        flex: 1;
    }

    .campaign{
        border-bottom: groove white 2px;
        border-top: groove white 2px;
    }


    .background-image{
        height: unset;
    }

    #campaign-overview-heading{
        flex-direction: column;
    }

    #heading-buttons{
        display:flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;

        .btn.mx-2{
            margin: 0rem 0rem 0.5rem 0rem !important;
        }
    }
}