#container-overview{
    width: 100vw;
    height: 100vh;
    max-width: unset !important;
    padding: 0 !important;
}

.campaign{
    position: relative;
    display: flex;
    justify-content: center;
}

.campaign-overlay{
    position: absolute;
    background-color: var(--wiki-background-1);
    z-index: 1;
}

.campaign-overlay.overlay-heading{
    width: 100%;
    height: 4rem;
}

.campaign-overlay.overlay-lock{
    top: 35%;
    height: 5rem;
    width: 5rem;
    background-color: unset;
}

.campaign:hover .campaign-overlay h3{
    color: var(--link-blue);
    transform: scale(1.2);
}

.campaign .campaign-overlay h3{
    transition: transform 0.2s ease-in-out;
}


.background-image{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
}

.campaign:hover .background-image{
    opacity: 1;
}

#campaign-overview-heading{
    background-color: var(--wiki-background-1);
    align-items: center;
    justify-content: center;
}

@media(max-width: 576px){
    .background-image{
        height: 33vh;
    }

    #campaign-overview-heading{
        flex-direction: column;
    }
}