#alive, #player-character{
    width: 1.5rem;
    height: 1.5rem;
}

.form-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.5rem;
}

.form-group label{
    width: 11rem;
    margin-right: 2rem;
}
