<div class="main">
    <article class="mb-5">
        <!-- Heading -->
        <div *ngIf="(isInUpdateState() || isInOutdatedUpdateState()) && userModel; else createState">
            <app-edit-toggle 
            [isInUpdateState]=true 
            [link]="routingService.getRoutePath('character', {name: userModel.name})"
            ></app-edit-toggle>

            <h2 class="text-center">
                Updating Character {{ userModel.name }}
            </h2>
        </div>

        <!-- Connections -->
        <div *ngIf="isInUpdateState()">
            <h4 class="mb-0"> Classes </h4>
            <hr class="white-separator">
    
            <div id="player-classes" class="mb-5" *ngIf="userModel">
                <span class="badge badge-secondary mr-3" *ngFor="let connection of userModel.player_class_connections">
                    {{ connection.player_class_details.name }}
                    <span class="ml-2 fa fa-trash icon" (click)="deletePlayerClassConnection(connection)"></span>
                </span>
    
                <span class="mx-3 fa fa-plus icon fa-1-5x" (click)="toggleConnectionCreateState()" *ngIf="!isCharacterConnectionCreationState; else connectionForm"></span>
            </div>    
        </div>

        <!-- Form -->
        <h4 class="mb-0"> Character Data </h4>
        <hr class="white-separator">

        <app-formly-formcontainer
        *ngIf="isInUpdateState() || isInCreateState()"
        [model]="userModel" 
        [fields]="formlyFields" 
        (formlySubmit)="onSubmit()" 
        (formlyCancel)="onCancel()"
        ></app-formly-formcontainer>

        <app-compare-form-container
        *ngIf="isInOutdatedUpdateState()"
        [formlyFields]="formlyFields"
        [modelFromUser]="userModel"
        [modelFromServer]="serverModel"
        (updateSubmit)="onSubmit()"
        (cancel)="onCancel()"
        ></app-compare-form-container>


    </article>
<!-- Spinner while loading -->
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>

<ng-template #createState>
    <app-edit-toggle 
    [isInUpdateState]=true 
    [link]="routingService.getRoutePath('character-overview')"
    ></app-edit-toggle>

    <h2 class="text-center">
        Creating a new character
    </h2>
</ng-template>


<ng-template #connectionForm>
    <!-- Form for Creating Player Class Connections -->
    <form class="d-inline-flex align-items-center" (submit)="createPlayerClassConnection(connectionModel)">
        <select class="form-control d-inline-block" name="connection" id="connection" [(ngModel)]="connectionModel.player_class">
            <option 
            *ngFor="let playerClass of playerClasses" 
            value="{{playerClass.pk}}" 
            [attr.disabled]="hasConnection(playerClass) ? true : null"
            >
                {{playerClass.name}}
            </option>
        </select>

        <i class="fa fa-times icon mx-2 fa-1-5x" (click)="toggleConnectionCreateState()"></i>
        <button type="submit"> <i class="fa fa-check icon fa-1-5x"></i> </button>
    </form>
</ng-template>