<div class="main">
    <article class="mb-5">
        <!-- Heading -->
        <ng-container *ngIf="(isInUpdateState() || isInOutdatedUpdateState()) && userModel; else createState">
            <app-edit-toggle 
            [isInUpdateState]=true 
            [link]="updateCancelUrl"
            ></app-edit-toggle>

            <h2 class="text-center">
                Updating Character {{ userModel.name }}
            </h2>
        </ng-container>

        <!-- Connections -->
        <ng-container *ngIf="isInUpdateState()">
            <h4 class="mb-0"> Classes </h4>
            <hr class="white-separator">
            
            <ng-container *ngIf="userModel">
                <div id="player-classes" class="mb-5">
                    <ng-container *ngFor="let connection of userModel.player_class_connections">
                        <span class="badge bg-secondary mr-3">
                            {{ connection.player_class_details.name }}
                            <span class="ml-2 fa fa-trash icon" (click)="deletePlayerClassConnection(connection)"></span>
                        </span>
            
                        <!-- Add-Class-Badge -->
                        <app-inline-create-button
                        class="full-sized"
                        [labelText]="'Add Class'"
                        (click)="toggleConnectionCreateState()" 
                        *ngIf="!isCharacterConnectionCreationState; else connectionForm">     
                        </app-inline-create-button>
                    </ng-container>
                </div>    
            </ng-container>
        </ng-container>

        <!-- Memberships -->
        <ng-container *ngIf="isInUpdateState()">
            <div class="mb-5">
                <h4 class="mb-0"> 
                    <ng-container *ngIf="!isOrganizationMembershipCreationState; else createMembershipHeader">
                        Organization Memberships
                    </ng-container>
    
                     </h4>
                <hr class="white-separator">
                
                <ng-container *ngIf="!isOrganizationMembershipCreationState; else createMembershipForm">
                    <div id="organizations" *ngIf="userModel">
                        <span class="badge bg-secondary mr-3" *ngFor="let membership of userModel.organizations">
                            {{ membership.name }}
                            <span class="ml-2 fa fa-trash icon" (click)="deleteOrganizationMembership(membership)"></span>
                        </span>
                            
                        <!-- Add-Organization-Membership-Badge -->
                        <app-inline-create-button
                        class="full-sized"
                        [labelText]="'Add Membership'"
                        (click)="toggleOrganizationMembershipCreateState()" 
                        >     
                        </app-inline-create-button>
                    </div>   
                </ng-container> 
            </div>
        </ng-container>

        <!-- Form -->
        <h4 class="mb-0"> Character Data </h4>
        <hr class="white-separator">

        <app-formly-formcontainer
        *ngIf="isInUpdateState() || isInCreateState()"
        [model]="userModel" 
        [fields]="formlyFields" 
        (formlySubmit)="onSubmit()" 
        (formlyCancel)="onCancel()"
        ></app-formly-formcontainer>

        <app-compare-form-container
        *ngIf="isInOutdatedUpdateState()"
        [formlyFields]="formlyFields"
        [modelFromUser]="userModel"
        [modelFromServer]="serverModel"
        (updateSubmit)="onSubmit()"
        (cancel)="onCancel()"
        ></app-compare-form-container>
    </article>
</div>

<ng-template #createState>
    <app-edit-toggle 
    [isInUpdateState]=true 
    [link]="creationCancelUrl"
    ></app-edit-toggle>

    <h2 class="text-center">
        Creating a new character
    </h2>
</ng-template>


<ng-template #connectionForm>
    <!-- Form for Creating Player Class Connections -->
    <form class="d-inline-flex align-items-center" (submit)="createPlayerClassConnection(connectionModel)">
        <select class="form-control d-inline-block" name="connection" id="connection" [(ngModel)]="connectionModel.player_class">
            <ng-container *ngFor="let playerClass of playerClasses">
                <option [value]="playerClass.pk" [attr.disabled]="hasConnection(playerClass) ? true : null">
                    {{playerClass.name}}
                </option>
            </ng-container>
        </select>

        <i class="fa fa-times icon mx-2 fa-1-5x" (click)="toggleConnectionCreateState()"></i>
        <button type="submit"> 
            <i class="fa fa-check icon fa-1-5x"></i> 
        </button>
    </form>
</ng-template>

<ng-template #createMembershipHeader>
        Create Organization Membership
</ng-template>

<ng-template #createMembershipForm>
    <!-- Form for creating Memberships to Organizations -->
    <app-formly-formcontainer
    [model]="membershipModel" 
    [fields]="organizationFormlyFields" 
    (formlySubmit)="createOrganizationMembership(membershipModel)" 
    (formlyCancel)="toggleOrganizationMembershipCreateState()"
    ></app-formly-formcontainer>
</ng-template>