<div class="main">
    <article *ngIf="articleData; else loading" class="container">
        <app-edit-toggle></app-edit-toggle>
        <div class="row">
            <h1 class="text-center col">Marker on {{articleData.map_details.name}}</h1>
        </div>
        
        <!-- Data Heading-->
        <div class="row">
            <h3 class="text-center col"> Properties </h3>
        </div>

        <!-- Longitude -->
        <div class="row">
            <div class="col-4"></div>
            <span class="bold col-3">Longitude: </span> 
            <span class="col-3">{{articleData.longitude}}</span>
            <div class="col-2"></div>
        </div>

        <!-- Latitude -->
        <div class="row">
            <div class="col-4"></div>
            <span class="bold col-3">Latitude: </span> 
            <span class="col-3">{{articleData.latitude}}</span>
            <div class="col-2"></div>
        </div>

        <!-- Icon -->
        <div class="row">
            <div class="col-4"></div>
            <span class="bold col-3">Icon: </span>
            {{articleData.icon}}
            <div class="col-2"></div>
        </div>

        <!-- Color -->
        <div class="row">
            <div class="col-4"></div>
            <span class="bold col-3">Color: </span> 
            <span class="col-3"> {{articleData.color}} </span>
            <div class="col-2"></div>
        </div>

        <!-- Spacer -->
        <div class="mb-5"></div>
        
        <!-- Footer (Move to other Article + Delete Article) -->
        <app-article-footer
        (delete)="deleteArticle()"
        [link]="routingService.getRoutePath('location', {
                parent_name: articleData.location_details.parent_location_name, 
                name: articleData.location_details.name
            }
        )"
        [label]="'Back to '+articleData.location_details.name"
        [deleteMessage]="'Delete Marker?'"
        ></app-article-footer>

    </article>
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>