@import '/src/app/cssvariables.scss';

.sidebar-wrapper{
        width: 4rem;
        min-width: 4rem;
        height: 100vh;
}

router-outlet + ::ng-deep * {
        width: 100%;
        display: flex;
        justify-content: center;
}

.transition-spinner{
        position: absolute;
        width: 5rem;
        height: 5rem;
        margin: auto;
        top: 40%;
        left: 50%;
        background-color: black;
        border-radius: 3rem;
        z-index: 1006;
}

@media(max-width: $small-screen){
        .sidebar-wrapper{
                width: 0rem;
                min-width: 0rem;
                display: none;
        }


        .sidebar-wrapper.swiped-left{
                width: 0rem;
                display: none;
        }

        .sidebar-wrapper.swiped-right{
             width: 0.01rem;
             display: block;   
        }
}

/*Counters HammerJS disabling of these CSS events to allow useres to select text (user-select) and to scroll (touch-action)*/
.base-page{
        touch-action: pan-y !important;
        user-select: unset !important;
}