<!-- <app-navbar [outsideClickSubject]="outsideClickSubject"></app-navbar> -->
<div 
(touchstart)="trackSwipeStart($event)"
(touchmove)="trackSwipeEnd($event)"
(touchend)="checkForSwipeGesture()"
class="d-flex"
>
    <div class="sidebar-wrapper" [ngClass]="{'swiped-right': showSidebarSubject.getValue(), 'swiped-left': !showSidebarSubject.getValue()}">
        <app-sidebar
        [showSidebar]="showSidebarSubject"
        #sidebar
        ></app-sidebar>
    </div>

    <div 
    id="background-div"
    class="d-flex justify-content-center pb-4 w-100"
    >
        <router-outlet #routerOutlet></router-outlet>
    </div>    
</div>

<!-- BG -->
<div id="bg"></div>