.sidebar-wrapper{
        width: 4rem;
        min-width: 4rem;
        height: 100vh;
}

router-outlet + ::ng-deep * {
        width: 100%;
        display: flex;
        justify-content: center;
}

@media(max-width: 576px){
        .sidebar-wrapper{
                width: 0rem;
                min-width: 0rem;
                display: none;
        }


        .sidebar-wrapper.swiped-left{
                width: 0rem;
                display: none;
        }

        .sidebar-wrapper.swiped-right{
             width: 0.01rem;
             display: block;   
        }
}