$article-background-dark: rgba(27, 31, 34, 0.85);
$modal-background-dark: rgb(56, 61, 64);

$xxlarge-screen: 1400px;
$xlarge-screen: 1200px;
$large-screen: 992px;
$medium-screen: 768px;
$small-screen: 576px;
$xsmall-screen: 326px;