<div class="main">
    <article *ngIf="location; else loading" class="container">
        <app-edit-toggle 
        [isInUpdateState]=false 
        [link]="'update'"
        ></app-edit-toggle>   

        <!-- Heading -->
        <div class="row">
            <h1 class="text-center col-12">
                {{ location.name }} 
                <a 
                *ngFor="let marker of location.marker_details" 
                class="mx-1 no-underline" 
                routerLink="{{constants.getRoutePath(router, 'marker', {
                        parent_location_name: location.parent_location_details.name, 
                        location_name: location.name, 
                        map_name: marker.map
                    })
                }}"
                >
                    <i 
                    class="fa fa-{{marker.map_icon}} icon"
                    [ngClass]="{'d-none': !userHasCreatePermission()}"
                    routerLink="{{constants.getRoutePath(router, 'marker-create', {
                            parent_location_name: location.parent_location_details.name,
                            location_name: location.name
                        })
                    }}"
                    ></i>
                </a>
                <i class="fa fa-plus icon ml-3" title="Add Marker"></i>
            </h1>

            <!-- String indicating all parent_locations -->
            <p *ngIf="location.parent_location_list.length > 0" class="text-center font-italic col-12 mb-5">
                <span *ngFor="let loc of location.parent_location_list; let i = index"> 
                    <a routerLink="{{buildLocationRoute(i)}}">
                        {{loc}}
                    </a>
                    <i class="fa fa-arrow-right mx-1"></i>
                </span>
                {{location.name}}
            </p>
        </div>


        <!-- Image Gallery -->
        <app-image-gallery
        [article_type]="this.articleType"
        [article_pk]="this.location.pk"
        [images]="this.location.images"
        ></app-image-gallery>

        <!-- Description -->
        <div class="mb-5">
            <app-textfield 
            [initialText]="location.description"
            [heading]="'Description'"
            (updateText)="onDescriptionUpdate($event)"
            ></app-textfield>
        </div>

        <!-- Characters of Interest -->
        <div class="mb-4">
            <app-object-list 
            [heading]="'Characters of Interest'" 
            [items]="location.characters" 
            [articleType]="'character'" 
            [createLink]="constants.getRoutePath(router, 'character-create')"
            ></app-object-list>
        </div>

        <!-- Locations of Interest -->
        <div class="encounter-list mb-5 mt-3">
            <app-location-accordion 
            [sublocations]="location.sublocations"
            ></app-location-accordion>
        </div>

        <!-- Footer (Move to other Article + Delete Article) -->
        <app-article-footer
        (delete)="deleteArticle()"
        [link]="constants.getRoutePath(router, 'location-overview')"
        [label]="'Back to Locations'"
        [deleteMessage]="'Delete '+location.name+'?'"
        ></app-article-footer>
        
    </article>
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>
