<div class="main" #article>
    <article *ngIf="articleData; else loading" class="container">
        <div class="row" *ngIf="hasUpdatePermission">
            <div class="col-12">
                <app-edit-toggle 
                [isInUpdateState]="false" 
                [link]="'update'"
                ></app-edit-toggle>
            </div>
        </div>

        <!-- Heading -->
        <div class="row">
            <h1 class="text-center col-12">
                {{ articleData.name }} 
                <!-- Marker Icons -->
                <i
                *ngFor="let marker of articleData.marker_details; let markerIndex = index" 
                title="Marker on Map of {{marker.map}}"
                class="mx-1 no-underline pointer icon fas fa-{{marker.map_icon}}" 
                routerLink="{{ markerUrls[markerIndex] }}"
                ></i>

                <!-- Add-Marker-Icon -->
                <i 
                class="fa fa-plus icon ml-3"
                title="Add Marker"
                [ngClass]="{'d-none': !hasCreatePermission}"
                routerLink="{{ markerCreateUrl }}"
                ></i>
            </h1>

            <!-- String indicating all parent_locations -->
            <p *ngIf="articleData.parent_location_list.length > 0" class="text-center font-italic col-12 mb-5">
                <span *ngFor="let loc of articleData.parent_location_list; let i = index"> 
                    <a routerLink="{{parentLocationUrls[i]}}">
                        {{loc}}
                    </a>
                    <i class="fa fa-arrow-right mx-1"></i>
                </span>
                {{articleData.name}}
            </p>
        </div>


        <!-- Image Gallery -->
        <app-image-gallery
        [article_type]="'location'"
        [article_pk]="this.articleData.pk"
        [images]="this.articleData.images"
        ></app-image-gallery>

        <!-- Description -->
        <div class="mb-5">
            <app-textfield 
            [initialText]="articleData.description"
            [heading]="'Description'"
            [formStateSubject]="textfieldFormStateSubject"
            (updateText)="onDescriptionUpdate($event)"
            ></app-textfield>
        </div>

        <!-- Characters of Interest -->
        <div class="mb-4">
            <app-object-list 
            [heading]="'Characters of Interest'" 
            [items]="articleData.characters" 
            [articleType]="'character'" 
            [createLink]="characterCreateUrl"
            ></app-object-list>
        </div>

        <!-- Locations of Interest -->
        <div class="encounter-list mb-5 mt-3">
            <app-location-accordion 
            [sublocations]="articleData.sublocations"
            ></app-location-accordion>
        </div>

        <!-- Footer (Move to other Article + Delete Article) -->
        <app-article-footer
        (delete)="deleteArticle()"
        [link]="locationOverviewUrl"
        [label]="'Back to Locations'"
        [deleteMessage]="'Delete '+articleData.name+'?'"
        ></app-article-footer>

    </article>
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>
