<h4>
    Locations of Interest 
    <i class="fa fa-plus icon ml-1" 
    [ngClass]="{'d-none': !hasCreatePermission}" 
    routerLink="create"></i>
</h4>

<ngb-accordion [closeOthers]="true" (panelChange)="onPanelChange($event)">
    <ngb-panel [id]="'static-'+i" *ngFor="let location of sublocations; let i = index">
        <!-- Header -->
        <ng-template ngbPanelTitle class="button-container">
            <span class="location-title"> 
                <a [routerLink]="locationUrls[i]"> 
                    {{ location.name }} 
                </a>
            </span>
            <i class="fa float-right icon" 
            [ngClass]="{
                'fa-chevron-down': !panelIsOpen(i),
                'fa-chevron-up': panelIsOpen(i)
            }"></i>
        </ng-template>

        <!-- Body -->
        <ng-template ngbPanelContent>
            <!-- Description -->
            <div class="mb-4">
                <app-textfield 
                [initialText]="location.description"
                [heading]="location.name"
                [formStateSubject]="sublocationDescriptionFormStates[i]"
                (updateText)="onSublocationUpdate($event, i)"
                ></app-textfield>
            </div>

            <!-- List of Characters at this location -->
            <ng-container *ngIf="location.characters.length > 0">
                <div class="location-character mb-1">
                    <span class="mr-4"> Characters: </span>
                    <span class="d-inline-flex align-items-center flex-wrap">
                        <ng-container *ngFor="let character of location.characters; let characterIndex = index">
                            <span class="badge bg-secondary mr-2 p-1 mb-1">
                                <a [routerLink]="locationCharacterUrls[i][characterIndex]">
                                    {{ character.name }}
                                </a>
                            </span>
                        </ng-container>
                    </span>
                </div>  
            </ng-container>     
        </ng-template>

    </ngb-panel>
</ngb-accordion>
  