<h4>Locations of Interest <i class="fa fa-plus icon ml-1" [ngClass]="{'d-none': !userHasCreatePermission()}" routerLink="create"></i></h4>

<ngb-accordion [closeOthers]="true" (panelChange)="onPanelChange($event)">
    <ngb-panel id="static-{{i}}" *ngFor="let location of sublocations; let i = index">
        <!-- Header -->
        <ng-template ngbPanelTitle class="button-container">
            <span class="location-title"> 
                <a 
                routerLink="{{routingService.getRoutePath('location', {
                        name: location.name, 
                        parent_name: location.parent_location_details.name
                    })
                }}"
                > 
                    {{ location.name }} 
                </a>
            </span>
            <i [ngClass]="{'fa float-right icon': true,'fa-chevron-down': !panelIsOpen(i),'fa-chevron-up': panelIsOpen(i)}"></i>
        </ng-template>

        <!-- Body -->
        <ng-template ngbPanelContent>
            <!-- Description -->
            <div class="mb-4">
                <app-textfield 
                [initialText]="location.description"
                [heading]="location.name"
                (updateText)="onSublocationUpdate($event, i)"
                ></app-textfield>
            </div>

            <!-- List of Characters at this location -->
            <div class="location-character mb-1" *ngIf="location.characters.length > 0">
                <span class="mr-4"> Characters: </span>
                <span class="d-inline-flex align-items-center flex-wrap">
                    <span class="badge badge-secondary mr-2 p-1 mb-1" *ngFor="let character of location.characters">
                        <a routerLink="{{routingService.getRoutePath('character', {name: character.name}) }}">
                            {{ character.name }}
                        </a>
                    </span>
                </span>
            </div>       
        </ng-template>

    </ngb-panel>
</ngb-accordion>
  