@import "../../../cssvariables.scss";

.location-title{
    color: white;
    font-size: 18px;
}

a:hover{
    color: var(--link-blue);  
}

.location-character{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.badge a{
    border-bottom: none;
}