<div class="float-right" [ngClass]="{'d-none': !userHasDeletePermission()}">
    <div *ngIf="!isInDeleteState" class="btn btn-outline-danger" (click)="toggleDeleteState()">
        <i class="fa fa-trash"></i>
    </div>
    <div *ngIf="isInDeleteState" class="delete-request">
        <span class="mr-3"> <strong>{{deleteMessage}}</strong> </span>  
        <div class="btn btn-outline-danger float-right mr-2" (click)="emitDeleteEvent()"> Yes </div>
        <div class="btn btn-outline-secondary float-right" (click)="toggleDeleteState()"> No </div>
    </div>
</div>