<div class="main" #loginMainCard>
    <article *ngIf="!this.isRequestingPasswordReset; else passwordResetView">
        <h1>Log In</h1>
        <div class="mb-3 text-warning">{{extraMessage}}</div>
        <form (submit)="onSubmit()" class="d-flex flex-column">
            <formly-form [model]="model" [fields]="fields" [form]="form"></formly-form>
            <div><span class="pointer pseudo-link" (click)="togglePasswordResetView()"> Forgot your password?</span></div>
            <button type="submit" class="btn btn-primary mt-4">Login</button>
        </form>
    </article>
</div>

<ng-template #passwordResetView>
    <h1> Password Reset </h1>
    <p> Forgot your account’s password? Enter your account name and we’ll send you a randomized new password to your email address.</p>
    <form class="d-flex flex-column" (submit)="requestPasswordReset()">
        <formly-form [model]="recoveryModel" [fields]="recoveryFields" [form]="recoveryForm"></formly-form>
        <div class="btn btn-secondary mb-3" (click)="togglePasswordResetView()">I do have a password !</div>
        <button class="btn btn-primary" type="submit">Reset Password </button>
    </form>
</ng-template>