<div class="main">
    <article *ngIf="quests; else loading" class="container">
        <!-- Heading -->
        <div class="row">
            <h2 class="major col mb-4 pb-1 border-bottom">Quests</h2>
        </div>

        <div *ngFor="let questTaker of quests">
            <div class="mb-3 mx-0 row">
                <!-- Outer Table Heading -->
                <h4 class="col-md-6 px-0 my-auto">
                    {{questTaker.key}}'s Quests
                    <i *ngIf="hasCreatePermission" class="fa fa-plus icon ml-2" routerLink="create"></i>
                </h4>

                <div class="col-3"></div>

                <!-- Filterselect -->
                <select 
                name="quest-status" 
                class="col-md-3" 
                [(ngModel)]="filterStates[questTaker.key]"
                >
                    <option selected value="Default">Default</option>
                    <option value="All">All</option>
                    <option 
                    *ngFor="let filterStateType of filterStateTypes" 
                    value="{{filterStateType}}"
                    >
                        {{filterStateType}}
                    </option>
                </select>
            </div>

            <table class="table table-dark table-striped mytable mb-5 pb-2">
                <!-- Inner Table Heading -->
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col" class="hide-on-mobile">
                            Description
                        </th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>

                <!-- Table Body -->
                <tbody id="{{questTaker.key}}-quests">
                    <tr 
                    *ngFor="let quest of questTaker.value" 
                    [ngClass]='{"d-none": isFilteredOut(filterStates[questTaker.key], quest.status)}'
                    >
                        <!-- Quest Name Column -->
                        <td>
                            <a 
                            id="quest{{ quest.pk }}" 
                            routerLink="{{routingService.getRoutePath('quest', {name: quest.name, campaign: campaign}) }}"
                            >
                                 <span class="bold">{{ quest.name }}</span>
                            </a>
                        </td>
                        <!-- Quest Abstract -->
                        <td class="hide-on-mobile"> {{ quest.abstract }}</td>
                        <!-- Quest Status -->
                        <td 
                        [ngClass]="{
                            'completed bg-success': quest.status === 'Completed',
                            'on-hold bg-warning': quest.status === 'On Hold',
                            'failed bg-danger': quest.status === 'Failed'
                        }">
                            <i 
                                [ngClass]="{
                                    'fa': true,
                                    'fa-check-square-o': quest.status === 'Completed',
                                    'fa-hourglass-half': quest.status === 'On Hold',
                                    'fa-times': quest.status === 'Failed',
                                    'fa-spinner': quest.status === 'In progress'
                                }" 
                                title="quest.status"
                            ></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
        <div class="row mx-0">
            <div 
            class="btn btn-secondary col-md-3" 
            routerLink="{{routingService.getRoutePath('home1', {campaign: campaign})}}"
            >
                Back To Frontpage
            </div>
        </div>


    </article>
    <!-- Loading Spinner -->
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>
