.mytable>tbody>tr>td, .mytable>tbody>tr>th, .mytable>tfoot>tr>td, .mytable>tfoot>tr>th, .mytable>thead>tr>td, .mytable>thead>tr>th {
    padding-left: 1rem;
    padding-right: 1rem;
}

select {
    background-color: #4c4c4c;
    height: calc(1.5em + .75rem + 2px);
    font-size: .9375rem;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid #222;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: white;
}

.form-control{
    max-width: 20%;
    min-width: 8rem;
}

.table-success, 
.table-warning, 
.table-danger{
    box-shadow: none;
}