<div class="main">
    <article *ngIf="creature; else loading">
        <app-edit-toggle [isInUpdateState]=false [link]="'update'"></app-edit-toggle>

        <h1 class="text-center"> {{ creature.name }} </h1>

        <app-image-gallery
        [article_type]="this.articleType"
        [article_pk]="this.creature.pk"
        [images]="this.creature.images"
        ></app-image-gallery>

        <div class="mb-5">
            <app-textfield 
            [initialText]="creature.description"
            [heading]="'Description'"
            (updateText)="onDescriptionUpdate($event)"
            ></app-textfield>
        </div>

        <app-delete-toggle [deleteMessage]="'Delete '+creature.name+'?'" (deleteEvent)="deleteArticle()"></app-delete-toggle>

        <a routerLink=".." class="btn btn-outline-secondary">Back to Creatures</a>
    </article>
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>
