<div class="main">
    <article *ngIf="organization; else loading">
        <!-- Heading -->
        <app-edit-toggle [isInUpdateState]=false [link]="'update'"></app-edit-toggle>

        <h1 class="text-center"> {{ organization.name }} </h1>
        <div>
            <div class="text-center subheading mb-1"> 
                Leader: 
                <a *ngIf="organization.leader; else Unknown" class="ml-1" routerLink="{{constants.wikiUrlFrontendPrefix}}/character/{{organization.leader}}">
                    {{ organization.leader }}
                </a>
                <ng-template #Unknown>Unknown</ng-template>
            </div>
            <div class="text-center mb-3 subheading"> 
                Headquarters:
                <a *ngIf="organization.headquarter_details; else Unknown" class="ml-1" routerLink="{{constants.wikiUrlFrontendPrefix}}/location/{{organization.headquarter_details.name}}">
                    {{ organization.headquarter_details.name_full }}
                </a>
            </div>
        </div>


        <!-- Image Gallery -->
        <app-image-gallery  [article_type]="this.articleType"
                            [article_pk]="this.organization.pk"
                            [images]="this.organization.images"></app-image-gallery>

        <!-- Description -->
        <div class="mb-5">
            <app-textfield 
            [initialText]="organization.description"
            [heading]="'Description'"
            (updateText)="onDescriptionUpdate($event)"
            ></app-textfield>
        </div>

        <!-- Members -->
        <div class="mb-5">
            <app-object-list    [heading]="'Members'"
                                [items]="organization.members"
                                [createLink]="'/character/create'"
                                [articleType]="'character'"></app-object-list>
        </div>



        <a routerLink="{{constants.wikiUrlFrontendPrefix}}/organization" class="btn btn-secondary mr-1">Back to organizations</a>
        <app-delete-toggle [deleteMessage]="'Delete '+organization.name+'?'" (deleteEvent)="deleteArticle()"></app-delete-toggle>
    </article>
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>
