<div class="main" #article>
    <article class="container">
        <ng-container *ngIf="hasUpdatePermission">
            <div class="row">
                <div class="col-12">
                    <app-edit-toggle 
                    [isInUpdateState]=false 
                    [link]="'update'"
                    ></app-edit-toggle>
                </div>
            </div>
        </ng-container>

        <!-- Heading -->
        <div class="row">
            <h1 class="text-center col"> {{ articleData.name }} </h1>
        </div>

        <div class="row">
            <!-- Leader-Subheading -->
            <div class="text-center subheading mb-1 col-12"> 
                Leader: 
                <ng-container *ngIf="articleData.leader; else Unknown">
                    <a class="ml-1" [routerLink]="organizationLeaderUrl">
                        {{ articleData.leader }}
                    </a>
                </ng-container>
            </div>

            <!-- Headquarters Subheading -->
            <div class="text-center mb-3 subheading col-12"> 
                Headquarters:
                <ng-container *ngIf="articleData.headquarter_details; else Unknown">
                    <a class="ml-1" [routerLink]="headquartersUrl">
                        {{ articleData.headquarter_details.name_full }}
                    </a>
                </ng-container>
            </div>
        </div>


        <!-- Image Gallery -->
        <app-image-carousel  
        [article_type]="'organization'"   
        [article_pk]="this.articleData.pk"
        [images]="this.articleData.images"
        ></app-image-carousel>

        <!-- Description -->
        <div class="mb-5">
            <app-textfield 
            [initialText]="articleData.description"
            [heading]="'Description'"
            [formStateSubject]="textfieldFormStateSubject"
            (updateText)="onDescriptionUpdate($event)"
            ></app-textfield>
        </div>

        <!-- Members -->
        <div class="mb-5">
            <app-object-list    
            [heading]="'Members'"
            [items]="articleData.members"
            [createLink]="characterCreateUrl"
            [articleType]="OverviewType.Character"
            ></app-object-list>
        </div>

        <!-- Footer (Move to other Article + Delete Article) -->
        <app-article-footer
        (delete)="deleteArticle()"
        [link]="organizationOverviewUrl"
        [label]="'Back to Organizations'"
        [deleteMessage]="'Delete '+articleData.name+'?'"
        ></app-article-footer>
    </article>
</div>

<ng-template #Unknown>Unknown</ng-template>
