<div class="main">
    <article *ngIf="articleData; else loading" class="container">
        <app-edit-toggle 
        [isInUpdateState]=false 
        [link]="'update'"
        ></app-edit-toggle>

        <!-- Heading -->
        <div class="row">
            <h1 class="text-center col"> {{ articleData.name }} </h1>
        </div>

        <div class="row">
            <!-- Leader-Subheading -->
            <div class="text-center subheading mb-1 col-12"> 
                Leader: 
                <a 
                *ngIf="articleData.leader; else Unknown" 
                class="ml-1" 
                routerLink="{{ routingService.getRoutePath('character', {name: articleData.leader}) }}"
                >
                    {{ articleData.leader }}
                </a>
                <ng-template #Unknown>Unknown</ng-template>
            </div>

            <!-- Headquarters Subheading -->
            <div class="text-center mb-3 subheading col-12"> 
                Headquarters:
                <a 
                *ngIf="articleData.headquarter_details; else Unknown" 
                class="ml-1" 
                routerLink="{{ routingService.getRoutePath('location', {
                        name: articleData.headquarter_details.name, 
                        parent_name: articleData.headquarter_details.parent_name
                    })
                }}"
                >
                    {{ articleData.headquarter_details.name_full }}
                </a>
            </div>
        </div>


        <!-- Image Gallery -->
        <app-image-gallery  
        [article_type]="'organization'"   
        [article_pk]="this.articleData.pk"
        [images]="this.articleData.images"
        ></app-image-gallery>

        <!-- Description -->
        <div class="mb-5">
            <app-textfield 
            [initialText]="articleData.description"
            [heading]="'Description'"
            [formStateSubject]="textfieldFormStateSubject"
            (updateText)="onDescriptionUpdate($event)"
            ></app-textfield>
        </div>

        <!-- Members -->
        <div class="mb-5">
            <app-object-list    
            [heading]="'Members'"
            [items]="articleData.members"
            [createLink]="routingService.getRoutePath('character-create')"
            [articleType]="'character'"
            ></app-object-list>
        </div>

        <!-- Footer (Move to other Article + Delete Article) -->
        <app-article-footer
        (delete)="deleteArticle()"
        [link]="routingService.getRoutePath('organization-overview')"
        [label]="'Back to Organizations'"
        [deleteMessage]="'Delete '+articleData.name+'?'"
        ></app-article-footer>

    </article>
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>
