<div class="card row mb-3 px-4 pt-3 pb-1" [ngClass] = "{'animate__animated animate__fadeInUp': isInCreateState()}" #card>
    <!-- Rules Panel Heading -->
    <ng-container *ngIf="!isInOutdatedUpdateState()">
        <h5 (click)="toggleCard()"
        class="pointer col-12 justify-content-between d-flex align-items-center"> 
            <span>{{ cardData.name }}</span>
            <i class="fa icon" 
            [ngClass]="{
                'fa-chevron-down': !isOpen, 
                'fa-chevron-up': isOpen
            }"></i>
        </h5>
    </ng-container>


    <!-- Rules Panel Content -->
    <div class="mb-3 w-100" [ngbCollapse]="!isOpen">
        <div class="col-12">
            <!-- Separator -->
            <hr class="white-separator mb-2" *ngIf="!isInOutdatedUpdateState()">

            <!-- Heading -->
            <div class="mb-3">
                <h4 class="d-inline"> {{ cardData.name }}</h4>
        
                <!-- Edit Toggler -->
                <ng-container *ngIf="hasUpdatePermission">
                    <div class="btn btn-secondary float-right" 
                    (click)="toggleFormState()">
                        <i class="fa" 
                        [ngClass]="{
                            'fa-times': !isInDisplayState(),
                            'fa-pencil': isInDisplayState()
                        }"></i>
                    </div>
                </ng-container>

            </div>


            <!-- Body -->
            <ng-container *ngIf="isInDisplayState()">
                <div [innerHTML]="cardData.description" ></div>
            </ng-container>
        
            <ng-container *ngIf="isInCreateState() || isInUpdateState()">
                <app-formly-formcontainer 
                [model]="userModel" 
                [fields]="formlyFields" 
                (formlySubmit)="onSubmit()" 
                (formlyCancel)="onCancel()"
                ></app-formly-formcontainer>
            </ng-container>

            <ng-container *ngIf="isInOutdatedUpdateState()">
                <app-compare-form-container
                class="d-flex justify-content-center"
                [formlyFields]="formlyFields"
                [modelFromUser]="userModel"
                [modelFromServer]="serverModel"
                [displayVertically]="true"
                (updateSubmit)="onSubmit()"
                (cancel)="onCancel()"
                ></app-compare-form-container>
            </ng-container>

            <!-- Delete Toggler -->
            <app-delete-toggle
            [deleteMessage] = "'Delete this rule ?'"
            (deleteEvent) = "articleDelete(cardData)"
            ></app-delete-toggle> 
        </div>

    </div>
</div>

<ng-template #formField>
    <div id="edit-section">
        <!-- Form -->
        <app-formly-formcontainer 
        [model]="userModel" 
        [fields]="formlyFields" 
        (formlySubmit)="onSubmit()" 
        (formlyCancel)="onCancel()"
        ></app-formly-formcontainer>
    </div>
</ng-template>