<div class="card row mb-3 px-4 pt-3 pb-1" [ngClass] = "{'animate__animated animate__fadeInUp': isCreateState}" #ruleCard>
    <!-- Rules Panel Heading -->
    <h5 class="pointer col-12 justify-content-between d-flex align-items-center" (click)="togglePanel()"> 
        <span>{{ rule.name }}</span>
        <i [ngClass]="{'fa icon float-right': true, 'fa-chevron-down': !isOpen, 'fa-chevron-up': isOpen}"></i>
    </h5>

    <!-- Rules Panel Content -->
    <div class="mb-3" [ngbCollapse]="!isOpen">
        <div class="col-12">
            <!-- Separator -->
            <hr class="white-separator mb-2">

            <!-- Heading -->
            <div class="mb-3">
                <h4 class="d-inline"> {{ rule.name }}</h4>
        
                <!-- Edit Toggler -->
                <div class="btn btn-secondary float-right" (click)="toggleFormState()">
                    <i class="fa fa-pencil" *ngIf="!isCreateState && !isUpdateState"></i>
                    <i class="fa fa-times" *ngIf="isCreateState || isUpdateState"></i>
                </div>
            </div>


            <!-- Body -->
            <div [innerHTML]="rule.description" *ngIf="!isUpdateState && !isCreateState; else formField"></div>

            <!-- Delete Toggler -->
            <app-delete-toggle
            [deleteMessage] = "'Delete this rule ?'"
            (deleteEvent) = "onDelete()"
            ></app-delete-toggle> 
        </div>

    </div>
</div>

<ng-template #formField>
    <div id="edit-section">
        <!-- Form -->
        <app-formly-formcontainer 
        [model]="rule" 
        [fields]="fields" 
        (submit)="onSubmit()" 
        (cancel)="onCancel()"
        ></app-formly-formcontainer>
    </div>
</ng-template>