.usertable .row{
    line-height: 1.2;
}

.usertable .fa-trash{
    justify-content: center;
    display: flex;
    margin: auto;  
}

.light-row{
    background-color: #272a2d;
}

.small-text{
    font-size: 0.7rem;
}

.warning{
    background-color: #936512 !important;
}