<div class="main" #adminCard>
    <div class="btn btn-secondary mb-3" [routerLink]="campaignOverviewUrl">
        <span class="fas fa-globe-americas"></span>
        Back To campaign overview
    </div>

    <article>
        <!-- Users Section -->
        <div class="mb-3">
            <!-- Section Heading -->
            <div class="d-flex justify-content-between">
                <h3 class="mb-0"> 
                    <span class="fa fa-user"></span>
                    Users
                </h3>
                
                <!-- Heading Buttons -->
                <div class="align-self-end position-relative top1">
                    <!-- Add Users -->
                    <div class="btn btn-dark border-white" (click)="toggleUserCreateState()">
                        <ng-container *ngIf="!isUserCreateState">
                            <span class="fa fa-user-plus"></span>
                            Add User
                        </ng-container>
                        <ng-container *ngIf="isUserCreateState">
                            <span class="fa fa-times"></span>
                            Cancel User Creation
                        </ng-container>
                    </div>
                </div>

            </div>
    
            <hr class="white-separator">

            <!-- New Table Entry -->
            <ng-container *ngIf="isUserCreateState">
                <div class="my-2 card p-3">
                    <h4>Adding new User</h4>
                    <!-- Form -->
                    <app-formly-formcontainer 
                    [model]="userModel" 
                    [fields]="userFields" 
                    (formlySubmit)="saveNewUser()" 
                    (formlyCancel)="toggleUserCreateState()"
                    ></app-formly-formcontainer>
                </div>
            </ng-container>
    
            <!-- Table -->
            <div class="usertable">
                <!-- Table Heading -->
                <div class="row">
                    <h4 class="col-5 col-md-3 d-flex flex-column">
                        <div>
                            <span class="fa fa-user-circle" 
                            placement="top" 
                            [tooltipClass]="'my-tooltip'" 
                            [ngbTooltip]="'Username'"></span>
                            Name
                        </div>
                    </h4>
                    <h4 class="col-6 col-md-5">
                        <span class="fa fa-group" 
                        placement="top" 
                        [ngbTooltip]="'Access-right groups'"
                        [tooltipClass]="'my-tooltip'"></span>
                        Groups
                    </h4>
                    <h4 class="col-3 hide-on-mobile">
                        <span 
                        class="fa fa-envelope-o" 
                        placement="top" 
                        [ngbTooltip]="'Email-Address'"
                        [tooltipClass]="'my-tooltip'"></span>
                        Email
                    </h4>
                </div>
    
                <!-- Table Entries -->
                <ng-container *ngFor="let user of users; let i=index">
                    <div class="" [ngClass]="{'light-row': i%2 === 0}">
                        <app-user-row
                        [index]="i"
                        [user]="user"
                        [groups]="groups"
                        (delete)="removeDeletedUser(i)"
                        ></app-user-row>
                    </div>
                </ng-container>
                
                <div class="mt-3">(†): Deactivated/Deleted Account </div>

            </div>
        </div>

        <!-- Database Section -->
        <div class="mb-3">
            <!-- Section Heading -->
            <div class="d-flex justify-content-between">
                <h3 class="mb-0"> 
                    <span class="fa fa-database"></span>
                    Database
                </h3>

                <!-- Heading Buttons -->
                <div class="align-self-end position-relative top1">
                    <!-- Download Database -->
                    <div class="btn btn-primary border-white" (click)="startDatabaseDownload()"> 
                        <span class="fa fa-database"></span>
                        Download Database 
                    </div>
    
                    <!-- Clear Tokens -->
                    <!-- <div class="btn btn-danger border-white"> 
                        <span class="fa fa-trash"></span>
                        Clear > 7 day old Tokens 
                    </div> -->
                </div>

            </div>

            <hr class="white-separator">
            
            <!-- Section Body -->
            <!-- Statistics -->
            <div class="container mb-5">
                <ng-container *ngFor="let statistic of statistics | keyvalue">
                    <div class="row">
                        <div class="col-6 col-sm-3"> {{ statistic.key }}</div>
                        <div class="col-6 col-sm-3"> {{ statistic.value }}</div>
                    </div>
                </ng-container>
            </div>
        </div>


        <!-- Campaign Section -->
        <div class="mb-3">
            <!-- Section Heading -->
            <div class="d-flex justify-content-between">
                <h3 class="mb-0"> 
                    <span class="fas fa-dragon"></span>
                    Campaigns
                    <ng-container *ngIf="isWaitingForCampaignCreation">
                        <app-spinner class="ms-3"></app-spinner>
                    </ng-container>
                </h3>

                <!-- Heading Buttons -->
                <div class="align-self-end position-relative top1">
                    <!-- Add Campaign -->
                    <div class="btn btn-primary border-white" (click)="toggleCampaignCreateState()"> 
                        <ng-container *ngIf="!isCampaignCreateState">
                            <span class="fa fa-plus"></span>
                            Add Campaign
                        </ng-container>
                        <ng-container *ngIf="isCampaignCreateState">
                            <span class="fa fa-times"></span>
                            Cancel Campaign Creation
                        </ng-container>
                    </div>
                </div> 
            </div>

            <hr class="white-separator">

            <!-- Section Body -->
            <ng-container *ngIf="!isCampaignCreateState && !isWaitingForCampaignCreation">
                <div class="container mb-5">
                    <ng-container *ngFor="let campaign of campaigns">
                        <div class="row mb-4">
                            <div class="col-sm-3">
                                <img [src]="campaign.icon" alt="Icon of campaign {{campaign.name}}" class="me-3 campaign-icon">
                                <strong>  {{ campaign.name }} </strong>
                            </div>
                            <div class="col-sm-3">Admins: {{campaign.admins.length}}</div>
                            <div class="col-sm-3">Members: {{campaign.members.length}}</div>
                            <div class="col-sm-3">Guest: {{campaign.guests.length}}</div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>

            <!-- New Campaign Entry -->
            <ng-container *ngIf="isCampaignCreateState && !isWaitingForCampaignCreation">
                <div class="my-2 card p-3">
                    <h4>Adding new Campaign</h4>
                    <!-- Form -->
                    <app-formly-formcontainer 
                    [model]="campaignModel" 
                    [fields]="campaignFields"
                    (formlySubmit)="createNewCampaign()"
                    (formlyCancel)="toggleCampaignCreateState()"
                    ></app-formly-formcontainer>    
                </div>
            </ng-container>
        </div>

        <div class="btn btn-secondary mb-3" [routerLink]="campaignOverviewUrl">
            <span class="fas fa-globe-americas"></span>
            Back To campaign overview
        </div>

    </article>
</div>