.usertable .row{
    line-height: 1.2;
    margin-left: -15px;
    margin-right: -15px;
}

.usertable .fa-trash{
    justify-content: center;
    display: flex;
    margin: auto;  
}

.light-row{
    background-color: #272a2d;
}

.small-text{
    font-size: 0.7rem;
}

.warning{
    background-color: #936512 !important;
}

.campaign-icon{
    max-height: 2rem;
}

@media(max-width: 768px){
    .hide-on-mobile{
        display: none !important;
    }
}