<div class="main">
    <article *ngIf="character; else loading">
        <app-edit-toggle [isInUpdateState]=false [link]="'update'"></app-edit-toggle>
        <!-- Heading -->
        <h1 class="text-center subheading">
            <span *ngIf="character.title">{{ character.title }} - </span>
            {{ character.name }}
        </h1>
        <!-- Subheadings -->
        <div class="text-center mb-3 subheading">
            <!-- Organization -->
            <div>
                <span *ngIf="character.gender !=='Other'">{{ character.gender }}</span>
                {{ character.race }}
                <span *ngIf="character.organization"> of the 
                    <a routerLink="/organization/{{character.organization_details.name}}">{{ character.organization_details.name }}</a>
                </span> 
            </div>
            <!-- Current Location -->
            <div *ngIf="character.current_location">
                Last known location:
                <a routerLink="/location/{{character.current_location_details.parent_location}}/{{character.current_location_details.name}}">
                    <strong> {{ character.current_location_details.name_full }} </strong>
                </a>
            </div>
        </div>

        <!-- Image Gallery -->
        <app-image-gallery
        [article_type]="this.articleType"
        [article_pk]="this.character.pk"
        [images]="this.character.images"
        ></app-image-gallery>

        <!-- TODO: Implement a quote DB. A random quote of that selection shall be displayed as some sort of quote card -->
        <!-- Description -->
        <div class="mb-5">
            <app-textfield 
            [initialText]="character.description"
            [heading]="'Description'"
            (updateText)="onDescriptionUpdate($event)"
            ></app-textfield>
        </div>

        <!-- Items -->
        <div class="mb-5">
            <app-object-list    [articleType]="'item'" 
            [createLink]="'/item/'+character.name+'/create'"
            [heading]="'Items of Note'"
            [items]="character.items"></app-object-list>
        </div>

        <!-- Encounters -->
        <app-encounter-accordion [encounters]="character.encounters" [articleCharacter]="character"></app-encounter-accordion>

        <!-- Delete Article? -->
        <app-delete-toggle [deleteMessage]="'Delete '+character.name+'?'" (deleteEvent)="deleteArticle()"></app-delete-toggle>

        <a routerLink=".." class="btn btn-outline-secondary">Back to Characters</a>
    </article>
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>
