.main{
    display: flex;
    justify-content: center;
}

article{
    width: 60rem;
    max-width: 100%;
    background-color:rgba(27, 31, 34, 0.85);
    border-radius: 4px;
    margin-top: 1rem;
    padding: 2.5rem;
    color: white;
    font-size: 18px;
}

h2{
    letter-spacing: 0.5rem;
}