<div class="main">
    <article>
        <h2 class="text-center"> {{ character.title }} {{ character.name }} </h2>
        <!-- <img src="IMG PLACEHOLDER!"> -->
        <!-- TODO: Implement some sort of quote card -->
        <h4>Description <i (click)="onDescriptionEditToggle()" class="fa fa-pencil"></i></h4>
        <app-textfield [text]="character.description"
        [isEditState]="isDescriptionEditState"
        (updatedText)="onUpdateDescription($event)"></app-textfield>

        <h4>Items of Note</h4>
        <ul>
            <li></li>
        </ul>
        <h4>Encounters</h4>

    </article>
</div>
