<div class="main">
    <article>
        <h2 class="text-center"> {{ character.title }}<span *ngIf="character.title"> - </span>{{ character.name }} </h2>
        
        <app-image-gallery [images]="character.images"></app-image-gallery>

        <!-- TODO: Implement some sort of quote card -->
        <div class="mb-5">
            <app-textfield 
            [initialText]="character.description"
            [heading]="'Description'"
            (updateText)="onDescriptionUpdate($event)"
            ></app-textfield>
        </div>


        <h4>Items of Note</h4>
        <ul>
            <li></li>
        </ul>
        <h4>Encounters</h4>
        <div class="encounter-list mb-3 mt-3">
            <app-encounter-accordion
            [encounters]="character.encounters"
            ></app-encounter-accordion>
        </div>

        <div class="float-right">
            <i *ngIf="!isArticleDeleteState" class="btn btn-outline-danger fa fa-trash" (click)="toggleDeleteRequest()"></i>
            <div *ngIf="isArticleDeleteState" class="delete-request">
                <span class="mr-3"> <strong>Delete this article?</strong> </span>  
                <button class="btn btn-outline-danger float-right mr-2"> Yes </button>
                <button class="btn btn-outline-secondary float-right" (click)="toggleDeleteRequest()"> No </button>
            </div>
        </div>

    </article>
</div>
