<div class="main" #profileCard>
    <article class="container">
        <!-- Section Heading -->
        <div class="d-flex justify-content-between row">
            <h3 class="mb-0 col-12 col-sm-6"> 
                <span class="fa fa-user-circle"></span>
                Profile
            </h3>

            <!-- Header Buttons -->
            <div class="position-relative top1 col-12 col-sm-6 d-flex align-self-end justify-content-end">
                <div class="btn btn-secondary border-white" (click)="toggleProfileEditState()">
                    <span *ngIf="!profileEditState"> Edit Profile <i class="fa fa-pencil"></i> </span>
                    <span *ngIf="profileEditState"> Cancel Profile Edit <i class="fa fa-times"></i> </span>
                </div>

                <div class="btn btn-secondary border-white" (click)="togglePasswordEditState()">
                    <span *ngIf="!passwordEditState">Edit Password <i class="fa fa-pencil"></i> </span>
                    <span *ngIf="passwordEditState">Cancel Password Edit <i class="fa fa-times"></i> </span>                     
                </div>
            </div>
        </div>

        <hr class="white-separator">

        <!-- Profile -->
        <div class="row" id="profile-data" *ngIf="!profileEditState; else profileForm">
            <div class="col-6">Username</div>
            <div class="col-6">{{ user.username }}</div>

            <div class="col-6">Email</div>
            <div class="col-6">{{ user.email }}</div>
            
            <h5 class="col-12 mb-0 mt-4">Campaign Memberships</h5>
            <div *ngFor="let campaignRole of campaignRolesList; let i = index" class="col-12">

                <ng-container *ngTemplateOutlet="leaveCampaignStates[i] ? leaveCampaignForm : displayCampaignForm; context: {$implicit: {campaignRole, index: i}}">
                </ng-container>

            </div>
        </div>

        <!-- Password Form -->
        <div class="my-3 card p-3" *ngIf="passwordEditState">
            <app-formly-formcontainer
            [model] = "passwordModel"
            [fields] = "passwordFields"
            (formlyCancel) = "togglePasswordEditState()"
            (formlySubmit) = "updatePassword()"
            ></app-formly-formcontainer>
        </div>

        <div class="mt-5 row">
            <div class="col-md-3">
                <a [routerLink]="campaignOverviewUrl" class="btn btn-secondary w-100">
                    To Campaigns
                </a>
            </div>

            <ng-container *ngIf="hasProfileDeletePermission">
                <div class="col-md-9">
                    <app-animated-toggle
                    [message]="'Delete your account?'"
                    (confirmationEvent)="deleteThisUser()"
                    class="float-right"
                    >
                        <inactiveButton>
                            <div class="btn btn-outline-danger">
                                <i class="fa fa-trash"></i>
                            </div> 
                        </inactiveButton>
                    </app-animated-toggle>
                </div>

            </ng-container>
            
        </div>
    </article>
</div>

<ng-template #profileForm>
    <div class="card p-3 my-3">
        <app-formly-formcontainer
        [model] = "profileModel"
        [fields] = "profileFields"
        (formlyCancel) = "toggleProfileEditState()"
        (formlySubmit) = "updateProfile()"
        ></app-formly-formcontainer>
    </div>
</ng-template>

<ng-template #displayCampaignForm let-context>
    <div class="row">
        <div class="col-5">{{context.campaignRole.campaignName | titlecase}}</div>
        <div class="col-4">{{context.campaignRole.role | titlecase}}</div>
        <div class="col-3 d-flex justify-content-end">
            <div class="btn btn-secondary btn-sm" (click)="toggleLeaveCampaignState(context.index)">
                <span class="fas fa-sign-out-alt"></span> 
                <span class="hide-on-mobile">Leave Campaign</span>
            </div> 
        </div>
    </div>
</ng-template>

<ng-template #leaveCampaignForm let-context>
    <div class="alert alert-danger mx-0 w-100 row" id="leave-campaign-form">
        <div class="col-md-8">
            <strong>Permanently leave '{{context.campaignRole.campaignName | titlecase}}'?</strong> 
        </div>
        <div class="btn btn-danger col-md-2" (click)="leaveCampaign(campaignRole)"> Yes </div>
        <div class="btn btn-dark col-md-2" (click)="toggleLeaveCampaignState(context.index)"> No </div>
    </div>

</ng-template>