@import '/src/app/cssvariables.scss';

.header-buttons{
    display:flex;
    justify-content: flex-end;
    position:relative;
    top: -1px;
}

#profile-data div{
    word-break: break-all;
}

@media(max-width: $small-screen){
    .header-buttons{
        justify-content: space-evenly;
    }
}