<div class="main" #profileCard>
    <article class="container">
        <!-- Section Heading -->
        <div class="d-flex justify-content-between row">
            <h3 class="mb-0 col-12 col-sm-6"> 
                <span class="fa fa-user-circle"></span>
                Profile
            </h3>

            <!-- Header Buttons -->
            <div class="position-relative top1 col-12 col-sm-6 d-flex align-self-end justify-content-end">
                <div class="btn btn-secondary border-white" (click)="toggleProfileEditState()">
                    <span *ngIf="!profileEditState"> Edit Profile <i class="fa fa-pencil"></i> </span>
                    <span *ngIf="profileEditState"> Cancel Profile Edit <i class="fa fa-times"></i> </span>
                </div>

                <div class="btn btn-secondary border-white" (click)="togglePasswordEditState()">
                    <span *ngIf="!passwordEditState">Edit Password <i class="fa fa-pencil"></i> </span>
                    <span *ngIf="passwordEditState">Cancel Password Edit <i class="fa fa-times"></i> </span>                     
                </div>
            </div>
        </div>

        <hr class="white-separator">

        <!-- Profile -->
        <div class="row" id="profile-data" *ngIf="!profileEditState; else profileForm">
            <div class="col-6">Username</div>
            <div class="col-6">{{ user.username }}</div>

            <div class="col-6">Email</div>
            <div class="col-6">{{ user.email }}</div>
            
            <h5 class="col-12 mb-0 mt-4">Campaign Memberships</h5>
            <div *ngFor="let campaignRole of campaignRolesList" class="col-12 row">
                <div class="col-6">{{campaignRole.campaignName | titlecase}}</div>
                <div class="col-6">{{campaignRole.role | titlecase}}</div>
            </div>
        </div>

        <!-- Password Form -->
        <div class="my-3 card p-3" *ngIf="passwordEditState">
            <app-formly-formcontainer
            [model] = "passwordModel"
            [fields] = "passwordFields"
            (formlyCancel) = "togglePasswordEditState()"
            (formlySubmit) = "updatePassword()"
            ></app-formly-formcontainer>
        </div>

        <div class="mt-5">
            <app-article-footer
            (delete)="deleteThisUser()"
            [link]="homeUrl"
            [label]="'Home'"
            [deleteMessage]="'Delete your account?'"
            ></app-article-footer>
        </div>
    </article>

    <ng-template #profileForm>
        <div class="card p-3 my-3">
            <app-formly-formcontainer
            [model] = "profileModel"
            [fields] = "profileFields"
            (formlyCancel) = "toggleProfileEditState()"
            (formlySubmit) = "updateProfile()"
            ></app-formly-formcontainer>
        </div>
    </ng-template>
</div>