<div class="main">
    <article *ngIf="articleData; else loading" class="container">
        <app-edit-toggle 
        [isInUpdateState]=false 
        [link]="'update'"
        ></app-edit-toggle>

        <!-- Heading -->
        <div class="row">
            <h1 class="text-center col">
                Diary Entry # {{ articleData.session_details.session_number }} <br>
                {{ articleData.title }}
            </h1>
        </div>
        <div class="row">
            <p class="text-center mb-5 col"> 
                Written by: {{ articleData.author_details.name }} <br>
                <span *ngIf="coAuthors"> Together with: {{ coAuthors }} </span> 
            </p>
        </div>

        <!-- DiaryEntry Text In Encounters -->
        <app-diary-entry-encounter-list
        [diaryEntry]="articleData"
        ></app-diary-entry-encounter-list>

        <!-- Footer (Move to other Article + Delete Article) -->
        <app-article-footer
        (delete)="deleteArticle()"
        [link]="routingService.getRoutePath('diaryentry-overview')"
        [label]="'Back to Diaryentries'"
        [deleteMessage]="'Delete this Diaryentry?'"
        ></app-article-footer>
        
    </article>
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>
