<div class="main">
    <article *ngIf="diaryEntry; else loading">
        <app-edit-toggle 
        [isInUpdateState]=false 
        [link]="'update'"
        ></app-edit-toggle>

        <h1 class="text-center">
            Diary Entry #
            <a routerLink="{{constants.getRoutePath(router, 'session', {isMainSession: diaryEntry.session_details.is_main_session_int, sessionNumber: diaryEntry.session_details.session_number})}}">
                {{ diaryEntry.session_details.name }}
            </a>
        </h1>
        <p class="text-center mb-5"> Written by: {{ diaryEntry.author_details.name }} </p>

        <div class="mb-5">
            <app-textfield 
            [initialText]="diaryEntry.entry"
            [heading]="diaryEntry.session_details.session_date | date"
            (updateText)="onDescriptionUpdate($event)"
            ></app-textfield>
        </div>

        <app-delete-toggle 
        [deleteMessage]="'Delete Diaryentry?'" 
        (deleteEvent)="deleteArticle()"
        ></app-delete-toggle>

        <a 
        routerLink="{{constants.getRoutePath(router, 'diaryentry-overview')}}"
        class="btn btn-secondary"
        >
            Back to Diaryentries
        </a>
    </article>
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>
