<div class="main" #article>
    <article class="container">
        <ng-container *ngIf="hasUpdatePermission">
            <div class="row">
                <div class="col-12 d-flex align-items-end flex-column">
                    <app-edit-toggle 
                    [isInUpdateState]="false"
                    [link]="'update'"
                    ></app-edit-toggle>
                    
                    <div class="btn btn-secondary mt-2" (click)="diaryentryDisplayMode=!diaryentryDisplayMode">
                        <span *ngIf="diaryentryDisplayMode">
                            <span class="fa fa-pencil"></span> 
                            Edit Encounters
                        </span>
                        <span *ngIf="!diaryentryDisplayMode">
                            <span class="fa fa-times"></span> 
                            Read Diaryentry
                        </span>
                    </div>
                </div>
            </div>
        </ng-container>



        <!-- Heading -->
        <div class="row">
            <h1 class="text-center col">
                Diary Entry # {{ articleData.session_details.session_number }} <br>
                {{ articleData.title }}
            </h1>
        </div>
        <div class="row mb-2" id="authors">
            <p class="text-center col-12"> 
                Written by: {{ articleData.author_details.name }} <br>
                on {{articleData.session_details.session_date | date: "longDate"}}
            </p>
        </div>

        <!-- Next/Prior Diaryentry Buttons -->
        <div class="row mb-3 d-flex align-items-center justify-content-between">
            <!-- Next Diaryentry -->
            <div class="col-lg-2 col-md-4 col-5">
                <ng-container *ngIf="articleData.adjacent_diaryentries.next_diaryentry">
                    <a [routerLink]="nextDiaryentryUrl" class="btn btn-secondary w-100"> 
                        <i class="fa fa-arrow-left mr-1"></i>
                        Next
                    </a>
                </ng-container>
            </div>


            <!-- Prior Diaryentry -->
            <div class="col-lg-2 col-md-4 col-5">
                <ng-container *ngIf="articleData.adjacent_diaryentries.prior_diaryentry">
                    <a [routerLink]="priorDiaryentryUrl" class="btn btn-secondary w-100"> 
                        Back
                        <i class="fa fa-arrow-right ml-1"></i>
                    </a>
                </ng-container>
            </div>
        </div>

        <!-- DiaryEntry Text In Encounters -->
        <app-diary-entry-encounter-list
        [diaryEntry]="articleData"
        [diaryEntryView]="diaryentryDisplayMode"
        [campaign]="campaign"
        ></app-diary-entry-encounter-list>

        <!-- Next/Prior Diaryentry Buttons -->
        <div class="row mb-3 d-flex align-items-center justify-content-between">
            <!-- Next Diaryentry -->
            <div class="col-lg-2 col-md-4 col-5">
                <ng-container *ngIf="articleData.adjacent_diaryentries.next_diaryentry">
                    <a [routerLink]="nextDiaryentryUrl" class="btn btn-secondary w-100"> 
                        <i class="fa fa-arrow-left mr-1"></i>
                        Next
                    </a>
                </ng-container>
            </div>

            <!-- Prior Diaryentry -->
            <div class="col-lg-2 col-md-4 col-5">
                <ng-container *ngIf="articleData.adjacent_diaryentries.prior_diaryentry">
                    <a [routerLink]="priorDiaryentryUrl" class="btn btn-secondary w-100"> 
                        Prior
                        <i class="fa fa-arrow-right ml-1"></i>
                    </a>
                </ng-container>
            </div>
        </div>

        <!-- Footer (Move to other Article + Delete Article) -->
        <app-article-footer
        (delete)="deleteArticle()"
        [link]="diaryentryOverviewUrl"
        [label]="'Back to Diaryentries'"
        [deleteMessage]="'Delete this Diaryentry?'"
        ></app-article-footer>
        
    </article>
</div>
