<div class="main">
    <article class="mb-5">
        <app-edit-toggle 
        [isInUpdateState]=true 
        [link]="mapUrl"
        ></app-edit-toggle>
        
        <h2 class="text-center"> Adding Location and Marker </h2>

        <!-- Form -->
        <form [formGroup]="locationForm" (submit)="onSubmit()">
            <!-- Location Form -->
            <div class="mb-5">
                <h5 class="mb-0"> Location Fields </h5>
                <formly-form 
                [form]="locationForm" 
                [fields]="location_fields" 
                [model]="locationModel">
                </formly-form>    
            </div>

            <!-- Marker Form -->
            <div>
                <h5 class="mb-0"> Marker Fields </h5>
                <formly-form 
                [form]="markerForm" 
                [fields]="marker_fields" 
                [model]="markerModel">
                </formly-form>
            </div>
            
            <!-- Form Buttons -->
            <div class="btn btn-dark me-3" (click)="onCancel()">Cancel</div>
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
    </article>
</div>