<div class="main">
    <article *ngIf="listItems; else loading" class="pr-4 pl-4">
        <h2 class="major mb-4 pb-1 border-bottom">{{ capitalizeString(overviewType) }}s</h2>
        <img class="w-100 d-block ml-auto mr-auto mb-5" src="{{overviewImages[overviewType]}}" alt=""/>
        <!-- Adding Item button -->
        <div class="mb-3">
            <a class="btn btn-secondary" routerLink="create"> 
                Add {{ capitalizeString(overviewType) }}
            </a>
        </div>
        <!-- Character OverView Snippet -->
        <div *ngIf="overviewType===characterOverview">
            <h4> Player Characters </h4>
            <ul class="mb-5">
                <span *ngFor="let item of listItems">
                    <li *ngIf="item.player_character">
                        <a routerLink="{{item.name}}">{{ item.name_full }}</a> 
                    </li>
                </span>
            </ul>
        </div>
        <!-- Filter  -->
        <form autocomplete="off">
            <input
            type="text"
            id="filter_input"
            placeholder="Search for {{ overviewType }}..."
            class="filter-bar mb-4 w-100"
            #filter
            (keyup)="filterListItems()"
            >    
        </form>
        <!-- Character Overview Snippet -->
        <div *ngIf="overviewType===characterOverview">
            <h4 class="mb-3"> Non-Player Characters </h4>
            <div *ngFor="let characterLetterEntries of listItems | groupByFirstLetter: 'name'">
                <h5 [ngClass]="{'d-none': filter.value}"> {{ characterLetterEntries.key }} </h5>
                <ul>
                    <span *ngFor="let characterEntry of characterLetterEntries.value">
                        <li 
                        *ngIf="!characterEntry.player_character"
                        [ngClass]="{'d-none': !characterEntry.name_full.toLowerCase().includes(filter.value.toLowerCase())}"
                        >
                            <a routerLink="{{characterEntry.name}}"> {{characterEntry.name_full}} </a>
                        </li>
                    </span>
                </ul>
            </div>
        </div>

        <!-- DiaryEntry Overview -->
        <div *ngIf="overviewType===diaryentryOverview">
            <h4 class="mb-4"> DiaryEntries </h4>

            <div *ngFor="let authorDiaryEntries of listItems | groupBy: 'author'">
                <h5 [ngClass]="{'d-none': filter.value}"> {{ authorDiaryEntries.key }} </h5>
                <ul>
                    <li 
                    *ngFor="let diaryEntry of authorDiaryEntries.value"
                    [ngClass]="{'d-none': !diaryEntry.name_full.toLowerCase().includes(filter.value.toLowerCase())}"
                    >
                        <a routerLink="{{constants.getRoutePath(router, 'diaryentry', {sessionNumber: diaryEntry.session_number, isMainSession: diaryEntry.is_main_session_int, authorName: diaryEntry.author})}}">
                            {{buildDiaryEntryNameForList(diaryEntry)}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Location Overview -->
        <div *ngIf="overviewType===locationOverview">
            <h4> Location </h4>
            <div *ngFor="let itemLetterEntries of listItems | groupByFirstLetter: 'name_full'">
                <h5 [ngClass]="{'d-none': filter.value}"> {{ itemLetterEntries.key }} </h5>
                <ul>
                    <li 
                    *ngFor="let item of itemLetterEntries.value"
                    [ngClass]="{'d-none': !item.name_full.toLowerCase().includes(filter.value.toLowerCase())}"
                    >
                    <a *ngIf="item.parent_location_name" routerLink="{{item.parent_location_name}}/{{item.name}}"> {{item.name_full}} </a>
                    <a *ngIf="!item.parent_location_name" routerLink="{{item.name}}"> {{item.name_full}} </a>
                </li>
                </ul>
            </div>
        </div>
        
        <!-- Item/Creature Overview -->
        <div *ngIf="overviewType===itemOverview || overviewType===creatureOverview || overviewType===organizationOverview">
            <h4 *ngIf="overviewType===itemOverview"> Item </h4>
            <h4 *ngIf="overviewType===creatureOverview"> Creature </h4>

            <div *ngFor="let itemLetterEntries of listItems | groupByFirstLetter: 'name'">
                <h5 [ngClass]="{'d-none': filter.value}"> {{ itemLetterEntries.key }} </h5>
                <ul>
                    <li 
                    *ngFor="let item of itemLetterEntries.value"
                    [ngClass]="{'d-none': !item.name_full.toLowerCase().includes(filter.value.toLowerCase())}"
                    >
                        <a routerLink="{{item.name}}"> {{item.name_full}} </a>
                    </li>
                </ul>
            </div>

        </div>

    </article>
    <!-- Loading Spinner -->
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>
