.fa{
    cursor: pointer;
    transition: color 0.2s;
    color: white;
}

.fa-pencil{
    opacity: 0;
    transition: opacity 0.2s;
}

.fa-pencil:hover{
    color: gray;
}

.fa-check:hover{
    color: #368949;
}

.fa-times:hover{
    color: #9c1e2a;
}

h4:hover .fa-pencil{
    opacity: 1;
}