<h4> {{ heading }} 
    <i *ngIf="!isEditState" (click)="enableEdit()" class="fa icon fa-pencil ml-2"></i>
    <i *ngIf="isEditState" (click)="cancelEdit()" class="fa icon fa-times ml-2"></i>
    <i *ngIf="isEditState" (click)="finishEdit()" class="fa icon fa-check ml-2"></i>
</h4>
<form>
    <div class="textfield">
        <div *ngIf="isEditState">
            <editor 
            [init]="{base_url:'/tinymce', suffix:'.min'}"
            name="textEditField"
            [(ngModel)]="updatedText"
            class="mb-2"
            ></editor>
        </div>

        <div 
        *ngIf="!isEditState" 
        innerHTML="{{ updatedText }}"
        >
            {{ updatedText }}
        </div>
    </div>
</form>
