<!-- Heading -->
<h4 [innerHTML]="heading" class="d-inline"></h4>
<h4 class="d-inline">
    <i *ngIf="!isEditState" (click)="enableEdit()" class="fa icon fa-pencil ml-2"></i>
    <i *ngIf="isEditState" (click)="cancelEdit()" class="fa icon fa-times ml-2"></i>
    <i *ngIf="isEditState" (click)="finishEdit()" class="fa icon fa-check ml-2"></i>
</h4>
<!-- Text Body -->
<form class="mt-2">
    <div class="textfield">
        <div *ngIf="isEditState">
            <editor 
            [init]="constants.tinyMCESettings"
            name="textEditField"
            [(ngModel)]="updatedText"
            class="mb-2"
            ></editor>
        </div>

        <div *ngIf="!isEditState" [innerHTML]="updatedText | safeHtml"></div>
    </div>
</form>
