<div #compareFormContainer class="container p-0 mw-100">
    <div class="alert alert-info">
        <span class="fa fa-info-circle"></span>
        While you were updating this article, somebody else went ahead and updated it as well. Please include their changes in your update before submitting.
    </div>

    <div [ngClass]="{'row': !displayVertically, 'card': displayVertically}">
        <div class="col-12" [ngClass]="{'col-sm-6': !displayVertically}">
            <!-- This has this ngclass because the spacing of the p-3 is necessary when putting forms side by side, 
                when put verticall it just wastes space -->
            <div>
                <h3> Server Version </h3>
                <app-display-form-container
                [model]="modelFromServer" 
                [formlyFields]="formlyFields"
                ></app-display-form-container>
            </div>
        </div>

        <hr class="white-separator" *ngIf="displayVertically">
    
        <div class="col-12" [ngClass]="{'col-sm-6': !displayVertically}">
            <!-- This has this ngclass because the spacing of the p-3 is necessary when putting forms side by side, 
                when put verticall it just wastes space -->
            <div>
                <h3> Your Version </h3>
                <app-formly-formcontainer
                [model]="modelFromUser" 
                [fields]="formlyFields" 
                (formlySubmit)="onSubmit()"
                (formlyCancel)="onCancel()"
                ></app-formly-formcontainer>
            </div>
        </div>
    </div>
</div>
