<div class="main">
    <article class="container" *ngIf="quotes && character; else loading">
        <h3 class="text-center"> Quote Overview </h3>
        <h5 class="text-center"> 
            Quotes of: 
            <a routerLink="{{routingService.getRoutePath('character', {name: character.name}) }}">
                {{ character.name }}
            </a>
        </h5>

        <div class="btn btn-secondary my-3" (click)="toggleQuoteCreateState()"> Add Quote </div>

        <div *ngFor="let quote of quotes; let quoteIndex = index" class="mb-5">
            <!-- Quote Heading -->
            <h4 *ngIf="quote.pk"> Session {{ quote.session_details.session_number }} </h4>
            <h4 *ngIf="!quote.pk"> Create Quote </h4>

            <!-- Quote Body -->
            <app-quotefield
            [character]="character"
            [quote]="quote"
            (delete)="deleteQuote(quoteIndex)"
            ></app-quotefield>
        </div>


        <div class="col-md-3 px-0">
            <a
            routerLink="{{this.character.getAbsoluteRouterUrl()}}" 
            class="btn btn-secondary w-100">
                Back to {{ character.name }}
            </a>
        </div>
    </article>

    <!-- Loading Spinner -->
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>