@import '/src/app/cssvariables.scss';

table{
    background-color: transparent;
}

.card-title{
    font-size: 1.3rem;
}

.whiteline{
    background-color: white;
    margin: 0 0 1rem 0;
}

.column-heading{
    background-color: hsla(0,0%,100%,.05);
    padding: 0.75rem;
}

.column-body{
    background-color: rgba(27,31,34,.95);
    padding: 0.75rem;
}

.spell{
    padding: 0;
}

.placeholder{
    color: transparent;
}

.border-bottom-grey{
    border-bottom: 1px grey solid;
}

@media(max-width: $medium-screen){
    .column-heading{
        font-size: medium;
    }
}

.bg-secondary:hover{
    background-color: var(--#{dark});
    color: var(--link-blue);
}