<div class="main" #listArticle>
    <article *ngIf="articles; else loading" class="container">
        <h1 class="text-center mb-3">
            Spells
            <span 
            *ngFor="let selectedClass of selectedClasses; let i = index" 
            class="badge badge-secondary pointer" 
            (click)="selectedClasses.splice(i, 1)"
            >
                {{ selectedClass }} <i class="fa fa-times"></i>
            </span>
        </h1>


        <div class="mb-3 row" *ngIf="hasCreatePermission">
            <a class="btn btn-primary col-lg-2 col-sm-3" (click)="addArticle()"> 
                <i class="fa fa-plus"></i>
                Add Spell
            </a>
        </div>


        <!-- Spells -->
        <div *ngFor="let spell of articles; let i = index" class="row">
            <app-spell
            class="flex-1"
            #spellElements
            [id]="spell.name.replaceAll(' ', '-').replaceAll('\'', '')"
            [index] = "i"
            [cardData] = "spell"
            [campaign] = "campaign"
            (cardDelete) = "onArticleDelete(i)"
            (classSelect) = "selectClass($event)"
            *ngIf="hasSelectedClasses(spell)"
            ></app-spell>
        </div>

        <div class="row">
            <a class="col-lg-2 col-md-3 btn btn-secondary" routerLink="{{routingService.getRoutePath('home1', {campaign: campaign.name})}}">
                Back To Frontpage
            </a>
        </div>

    </article>
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>
