<div class="main">
    <article *ngIf="articleData; else loading" class="container">
        <app-edit-toggle 
        [isInUpdateState]=false
        [link]="'update'"
        ></app-edit-toggle>

        <!-- Heading -->
        <div class="row mb-3">
            <h1 class="text-center col"> {{ articleData.name }} </h1>
        </div>

        <!-- Quest Status -->
        <div class="subheading row"> 
            <span class="col-5">Status:</span>
            <span class="col-7">{{ articleData.status }}</span>     
        </div>

        <!-- Quest Start -->
        <div class="subheading row">
            <div class="col-5">Start - End:</div>
            <div class="col-7">
                {{ articleData.start_session_details.name }} - 
                <span *ngIf="articleData.end_session_details; else Ongoing"> 
                    {{ articleData.end_session_details.name }} 
                </span>
                <ng-template #Ongoing class="d-inline">Ongoing</ng-template>
            </div>
        </div>

        <!-- Quest Giver -->
        <div class="subheading row"> 
            <span class="col-5">Quest Giver:</span>
            <span class="col-7">
                <a 
                *ngIf="articleData.giver_details; else NoQuestGiver" 
                routerLink="{{ routingService.getRoutePath('character', {name: articleData.giver_details.name}) }}"
                >
                    {{ articleData.giver_details.name }}
                </a>
            </span>
            <ng-template #NoQuestGiver> None </ng-template>
        </div>

        <!-- Description -->
        <div class="my-5">
            <app-textfield 
            [initialText]="articleData.description"
            [heading]="'Description'"
            (updateText)="onDescriptionUpdate($event)"
            ></app-textfield>
        </div>

        <!-- Footer (Move to other Article + Delete Article) -->
        <app-article-footer
        (delete)="deleteArticle()"
        [link]="routingService.getRoutePath('quest-overview')"
        [label]="'Back to Quest Overview'"
        [deleteMessage]="'Delete Quest ?'"
        ></app-article-footer>
    </article>
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>
