<div class="main">
    <article *ngIf="quest; else loading">
        <!-- Heading -->
        <app-edit-toggle [isInUpdateState]=false [link]="'update'"></app-edit-toggle>

        <h1 class="text-center"> {{ quest.name }} </h1>
        <div class="my-4">
            <div class="subheading d-flex"> 
                <span class="w-25">Status:</span>
                 {{ quest.status }}
            </div>
            <div class="subheading d-flex">
                <div class="w-25">Start - End:</div>
                <div>
                    {{ quest.start_session_details.name }} - 
                    <span *ngIf="quest.end_session_details; else Ongoing"> {{ quest.end_session_details.name }} </span>
                    <ng-template #Ongoing class="d-inline">Ongoing</ng-template>
                </div>
            </div>
            <div class="subheading d-flex align-items-center"> 
                <span class="w-25">Quest Giver:</span>
                <a *ngIf="quest.giver_details" href="/character/{{quest.giver_details.name}}">{{ quest.giver_details.name }}</a>
                <span *ngIf="!quest.giver_details"> None </span>
            </div>
        </div>

        <!-- Description -->
        <div class="mb-5">
            <app-textfield 
            [initialText]="quest.description"
            [heading]="'Description'"
            (updateText)="onDescriptionUpdate($event)"
            ></app-textfield>
        </div>

        <app-delete-toggle [deleteMessage]="'Delete Quest?'" (deleteEvent)="deleteArticle()"></app-delete-toggle>

        <a routerLink="/quest" class="btn btn-secondary mr-1">Back to Quest Overview</a>
    </article>
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>
