<div class="main" #article>
    <article class="container">
        <ng-container *ngIf="hasUpdatePermission">
            <div class="row">
                <div class="col-12">
                    <app-edit-toggle 
                    [isInUpdateState]=false 
                    [link]="'update'"
                    ></app-edit-toggle>
                </div>
            </div>
        </ng-container>

        <!-- Heading -->
        <div class="row mb-3">
            <h1 class="text-center col"> {{ articleData.name }} </h1>
        </div>

        <!-- Quest Status -->
        <div class="subheading row"> 
            <span class="col-5">Status:</span>
            <span class="col-7">{{ articleData.status }}</span>     
        </div>

        <!-- Quest Start -->
        <div class="subheading row">
            <div class="col-5">Start - End:</div>
            <div class="col-7">
                {{ articleData.start_session_details.name }} - 
                <ng-container *ngIf="articleData.end_session_details; else Ongoing"> 
                    {{ articleData.end_session_details.name }} 
                </ng-container>
            </div>
        </div>

        <!-- Quest Giver -->
        <div class="subheading row"> 
            <span class="col-5">Quest Giver:</span>
            <span class="col-7">
                <ng-container *ngIf="articleData.giver_details; else NoQuestGiver">
                    <a [routerLink]="questGiverUrl">
                        {{ articleData.giver_details.name }}
                    </a>
                </ng-container>
            </span>
        </div>

        <!-- Description -->
        <div class="my-5">
            <app-textfield 
            [initialText]="articleData.description"
            [heading]="'Description'"
            [formStateSubject]="textfieldFormStateSubject"
            (updateText)="onDescriptionUpdate($event)"
            ></app-textfield>
        </div>

        <!-- Footer (Move to other Article + Delete Article) -->
        <app-article-footer
        (delete)="deleteArticle()"
        [link]="questOverviewUrl"
        [label]="'Back to Quest Overview'"
        [deleteMessage]="'Delete Quest ?'"
        ></app-article-footer>
    </article>
</div>


<ng-template #Ongoing class="d-inline">Ongoing</ng-template>

<ng-template #NoQuestGiver> None </ng-template>
