@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600");

@import './app/custom_bootstrap.scss';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Default Vime theme. ~960B */
@import '~@vime/core/themes/default.css';

body {
    color: #ffffff;
    font-family: "Source Sans Pro", sans-serif !important;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.65;
}

.button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	background-color: transparent;
	border-radius: 4px;
	border: 0;
	color: #ffffff !important;
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: 600;
	height: 2.75rem;
	letter-spacing: 0.03rem;
	line-height: 2.75rem;
	outline: 0;
	padding: 0 1.25rem 0 1.35rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	display: flex !important;
	justify-content: center;
	align-items: center;
}

//headings
h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-weight: bold!important;
    line-height: 1.5;
    margin: 0 0 1rem 0;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}


h1{
	letter-spacing: 0.5rem!important;
	font-size: 2.25rem!important;
	line-height: 1.3!important;
}

h2{
	letter-spacing: 0.2rem!important;
	font-size: 1.5rem!important;
}

// Button

.button:hover {
	background-color: rgba(255, 255, 255, 0.175);
}

.button:active{
	background-color: rgba(255, 255, 255, 0.175);
}

.button.icon:before{
	margin-right: 0.5em;
}

.button.fit{
	width: 100%;
}

//Background
#bg {
	-moz-transform: scale(1.0);
	-webkit-transform: scale(1.0);
	-ms-transform: scale(1.0);
	transform: scale(1.0);
	-webkit-backface-visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -2;
}

#bg:before, #bg:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#bg:before {
	-moz-transition: background-color 2.5s ease-in-out;
	-webkit-transition: background-color 2.5s ease-in-out;
	-ms-transition: background-color 2.5s ease-in-out;
	transition: background-color 2.5s ease-in-out;
	-moz-transition-delay: 0.75s;
	-webkit-transition-delay: 0.75s;
	-ms-transition-delay: 0.75s;
	transition-delay: 0.75s;
	background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url("../../aldrunewiki/static/frontpage/images/overlay.png");
	background-size: auto,
256px 256px;
	background-position: center,
center;
	background-repeat: no-repeat,
repeat;
	z-index: -1;
}

#bg:after {
	-moz-transform: scale(1.125);
	-webkit-transform: scale(1.125);
	-ms-transform: scale(1.125);
	transform: scale(1.125);
	-moz-transition: -moz-transform 0.325s ease-in-out, -moz-filter 0.325s ease-in-out;
	-webkit-transition: -webkit-transform 0.325s ease-in-out, -webkit-filter 0.325s ease-in-out;
	-ms-transition: -ms-transform 0.325s ease-in-out, -ms-filter 0.325s ease-in-out;
	transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out;
	background-image: url("../../aldrunewiki/static/frontpage/images/bg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -2;
}

body.is-article-visible #bg:after {
	-moz-transform: scale(1.0825);
	-webkit-transform: scale(1.0825);
	-ms-transform: scale(1.0825);
	transform: scale(1.0825);
	-moz-filter: blur(0.2rem);
	-webkit-filter: blur(0.2rem);
	-ms-filter: blur(0.2rem);
	filter: blur(0.2rem);
}

body.is-preload #bg:before {
	background-color: #000000;
}

.btn{
	font-weight: bold !important;
}


.icon{
	color: white;
	transition: color 0.2s;
	cursor: pointer;
}

.icon:hover{
	color: gray
}

a{
	color: white !important;
	border-bottom: dotted 1px gray;
}

a:hover{
	text-decoration: none !important;
	border-bottom: solid 2px gray;
}

.main{
    width: 60rem;
    background-color:rgba(27, 31, 34, 0.85);
    border-radius: 6px;
    padding: 2.5rem 2.5rem 5rem 2.5rem;
    color: white;
	font-size: 18px;
}

article{
	width: 100%;
}

h2{
    letter-spacing: 0.5rem;
}

.flex-1{
	flex: 1;
}

.flex-2{
	flex: 2;
}

.flex-3{
	flex: 3;
}

.flex-4{
	flex: 4;
}

.flex-5{
	flex: 5;
}

.flex-6{
	flex: 6;
}

.flex-7{
	flex: 7;
}

.flex-8{
	flex: 8;
}

.flex-9{
	flex: 9;
}

.flex-10{
	flex: 10;
}

.fa.fa-1-5x{
    font-size: 1.5em;
}

.text-decoration-underline{
	text-decoration: underline;
}

@media(max-width: 992px){
	.main{
		max-width: 60rem;
	}
}
// For Article Pages
.delete-request{
    border: 1px solid red;
    display: flex;
    align-items: center;
    align-content: center;
    border-radius: 4px;
    background-color:rgba(27, 31, 34, 0.85);
    padding: 0.5rem 1rem;
    justify-content: flex-end;
}

.subheading{
	font-size: 1.2rem;
	letter-spacing: 0.05rem;
}

p{
	letter-spacing: 0.05rem;
}

.pointer{
	cursor: pointer;
}