@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600");
// Overwriting leaflet CSS
h5.popup-heading{
	color: black;
	font-weight: normal !important;
	font-size: 0.9rem;
	letter-spacing: normal;
	margin-top: 1rem;
	margin-bottom: 0rem;
	text-transform: none;
}

$marker-width: 100px;
.leaflet-text-marker{
	opacity: 0.66;
	padding: 0 3px;
	width: $marker-width;
	margin-left: -1*$marker-width/2;
	margin-top: 5px;
	text-align: center;
}

.leaflet-div-icon{
	border:none;
	background-color: transparent;
}

/* Leaflet CSS */
@import "~leaflet/dist/leaflet.css";


/* Bootstrap customizations */
@import './app/custom_bootstrap.scss';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Default Vime theme. ~960B */
@import '~@vime/core/themes/default.css';

body {
    color: #ffffff;
    font-family: "Source Sans Pro", sans-serif !important;
    font-weight: 300;
    font-size: 1rem;
	line-height: 1.65;
	overflow-x: hidden;
}

//headings
h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-weight: bold!important;
    line-height: 1.5;
    margin: 0 0 1rem 0;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}


h1{
	letter-spacing: 0.5rem!important;
	font-size: 2.25rem!important;
	line-height: 1.3!important;
}

h2{
	letter-spacing: 0.2rem!important;
	font-size: 1.5rem!important;
}


//Background
#bg {
	-moz-transform: scale(1.0);
	-webkit-transform: scale(1.0);
	-ms-transform: scale(1.0);
	transform: scale(1.0);
	-webkit-backface-visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -2;
}

#bg:before, #bg:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#bg:before {
	-moz-transition: background-color 2.5s ease-in-out;
	-webkit-transition: background-color 2.5s ease-in-out;
	-ms-transition: background-color 2.5s ease-in-out;
	transition: background-color 2.5s ease-in-out;
	-moz-transition-delay: 0.75s;
	-webkit-transition-delay: 0.75s;
	-ms-transition-delay: 0.75s;
	transition-delay: 0.75s;
	background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url("../../aldrunewiki/static/frontpage/images/overlay.png");
	background-size: auto,
256px 256px;
	background-position: center,
center;
	background-repeat: no-repeat,
repeat;
	z-index: -1;
}

#bg:after {
	-moz-transform: scale(1.125);
	-webkit-transform: scale(1.125);
	-ms-transform: scale(1.125);
	transform: scale(1.125);
	-moz-transition: -moz-transform 0.325s ease-in-out, -moz-filter 0.325s ease-in-out;
	-webkit-transition: -webkit-transform 0.325s ease-in-out, -webkit-filter 0.325s ease-in-out;
	-ms-transition: -ms-transform 0.325s ease-in-out, -ms-filter 0.325s ease-in-out;
	transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out;
	background-image: url("../../aldrunewiki/static/frontpage/images/bg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -2;
}

body.is-article-visible #bg:after {
	-moz-transform: scale(1.0825);
	-webkit-transform: scale(1.0825);
	-ms-transform: scale(1.0825);
	transform: scale(1.0825);
	-moz-filter: blur(0.2rem);
	-webkit-filter: blur(0.2rem);
	-ms-filter: blur(0.2rem);
	filter: blur(0.2rem);
}

body.is-preload #bg:before {
	background-color: #000000;
}

.btn{
	font-weight: bold !important;
}


.icon{
	color: white;
	transition: color 0.2s;
	cursor: pointer;
}

.icon:hover{
	color: gray
}

a{
	color: white;
	border-bottom: dotted 1px gray;
}

a:hover{
	color: #839cff;
	text-decoration: none !important;
	border-bottom: solid 2px gray;
}

.main{
	max-width: 60rem;
	width: 100vw;
    background-color:rgba(27, 31, 34, 0.85);
    border-radius: 6px;
    padding: 2.5rem 2.5rem 5rem 2.5rem;
    color: white;
	font-size: 18px;
}

article{
	width: 100%;
}

h2{
    letter-spacing: 0.5rem;
}

.flex-1{
	flex: 1;
}

.flex-2{
	flex: 2;
}

.flex-3{
	flex: 3;
}

.flex-4{
	flex: 4;
}

.flex-5{
	flex: 5;
}

.flex-6{
	flex: 6;
}

.flex-7{
	flex: 7;
}

.flex-8{
	flex: 8;
}

.flex-9{
	flex: 9;
}

.flex-10{
	flex: 10;
}

.fa.fa-1-5x{
    font-size: 1.5em;
}

.bold{
	font-weight: bold;
}

.text-decoration-underline{
	text-decoration: underline;
}


// For Article Pages
.delete-request{
    border: 1px solid red;
    display: flex;
    align-items: center;
    align-content: center;
    border-radius: 4px;
    background-color:rgba(27, 31, 34, 0.85);
    padding: 0.5rem 1rem;
    justify-content: flex-end;
}

.subheading{
	font-size: 1.2rem;
	letter-spacing: 0.05rem;
}

p{
	letter-spacing: 0.05rem;
}

label{
	font-weight: bold;
}

.pointer{
	cursor: pointer;
}

.bg-color-darkgreen{
    background-color: darkgreen;
}

.bg-color-darkblue{
    background-color: darkblue;
}

.bg-color-beige{
    background-color: beige;
}

.bg-color-darkpurple{
    background-color: darkpurple;
}

.bg-color-pink{
    background-color: pink;
}

.bg-color-black{
    background-color: black;
}

.bg-color-orange{
    background-color: orange;
}

.bg-color-red{
    background-color: red;
}

.bg-color-green{
    background-color: green;
}

.bg-color-gray{
    background-color: gray;
}

.bg-color-lightred{
    background-color: lightcoral;
}

.bg-color-darkred{
    background-color: darkred;
}

.bg-color-lightgreen{
    background-color: lightgreen;
}

.bg-color-blue{
    background-color: blue;
}

.bg-color-lightblue{
    background-color: lightblue;
}

.bg-color-cadetblue{
    background-color: cadetblue;
}

.bg-color-purple{
    background-color: purple;
}

.bg-color-white{
    background-color: white;
}

.bg-color-lightgray{
	background-color: lightgray;
}

.text-color-white{
	color: white;
}

.text-color-black{
	color: black;
}

blockquote{
	border-left: solid 4px #ffffff;
    font-style: italic;
    margin: 0;
    padding: 0.5rem 0 0.5rem 2rem;
}

blockquote p{
	margin-bottom: 0;
}

blockquote strong{
	font-weight: bold;
}
strong{
	font-weight: bold;
}

.highlight{
	background-color: rgba(61, 70, 77, 0.85);
}

.hover-highlight{
	transition: 0.2s background-color;
}

.hover-highlight:hover{
	background-color: rgba(61, 70, 77, 0.85);
}


// Overwriting styling of ngx-bootstrap Datepicker

div.ngb-dp-header{
	background-color: #1b1f22;
}

.ngb-dp-month{
    background-color: #1b1f22;
}

.ngb-dp-week.ngb-dp-weekdays{
	background-color: #1b1f22;
}

div.ngb-dp-day div{
	color:white;
}

div.ngb-dp-day .btn-light:hover{
	color: black !important;
}

// Overwrite Formly warning message styling for better visibility
formly-validation-message{
	color: #ff8b7f;
}

//Overwrite of Formly for SessionAudio Form
.timestamp-input input{
	background-color: #222 !important;
	height: calc(1.5em + .75rem + 2px);
	font-size: .9375rem;
	line-height: 1.5;
	background-clip: padding-box;
	border: 1px solid #4c4c4c !important;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	color: white;
}

.timestamp-input input:focus{
	box-shadow: 0 0 0 0.2rem $secondary;
}

.timestamp-input .form-group{
	margin-bottom: 0;
}

// Mobile CSS
@media(max-width: 992px){
	.main{
		padding: 2.5rem 1rem 2.5rem 1rem;
	}
	
	.icon{
		opacity: 1 !important;
	}
}

@media(max-width: 768px){
	app-delete-toggle{
		margin-top: 2rem;
	}

	.hide-on-mobile{
		display: none;
	}

	//SessionAudio
	.timestamp-input input{
		padding-left: 0.2rem;
		padding-right: 0.2rem;
	}
}