<div class="main">
    <article *ngIf="articleData; else loading" class="container">
        <div class="row">
            <div class="col-12">
                <app-edit-toggle 
                [isInUpdateState]=false 
                [link]="'update'"
                ></app-edit-toggle>
            </div>
        </div>

        <!-- Heading -->
        <div class="row">
            <h1 class="text-center col"> {{ articleData.name }} </h1>
        </div>

        <div class="card my-3 p-3">
            <h3 class="text-center">Background</h3>
            <img title="None" class="gallery-image" [src]="articleData.background_image" alt="">
        </div>


        <!-- Members & Admins-->
        <div class="mb-3 row">
            <div class="col-sm-6 col-12">
                <div class="p-3 card">
                    <h3 class="text-center">
                        <span class="fas fa-user-secret"></span>
                        Admins
                    </h3>

                    <div *ngFor="let user of articleData.admins">
                        {{user.username}}

                        <app-delete-toggle
                        [deleteMessage]="'Remove '+ user.username +' as admin?'"
                        (deleteEvent)="onRemoveAdmin(user)"
                        class="float-right px-0"
                        ></app-delete-toggle>
                    </div>

                    <!-- Form -->
                    <app-formly-formcontainer 
                    *ngIf="addAdminState; else addAdminButton"
                    [model]="adminModel" 
                    [fields]="adminFormlyFields" 
                    (formlySubmit)="onAddAdminSubmit()" 
                    (formlyCancel)="addAdminState=false"
                    ></app-formly-formcontainer>


                </div>
            </div>

            <div class="col-sm-6 col-12">
                <div class="p-3 card">
                    <h3 class="text-center">
                        <span class="fas fa-users"></span>
                        Party members
                    </h3>

                    <div *ngFor="let user of articleData.members">
                        {{user.username}}

                        <app-delete-toggle
                        [deleteMessage]="'Remove '+ user.username +' as member?'"
                        (deleteEvent)="onRemoveMember(user)"
                        class="float-right px-0"
                        ></app-delete-toggle>
                    </div>

                    <!-- Form -->
                    <app-formly-formcontainer 
                    *ngIf="addMemberState; else addMemberButton"
                    [model]="memberModel" 
                    [fields]="memberFormlyFields"
                    (formlySubmit)="onAddMemberSubmit()" 
                    (formlyCancel)="addMemberState=false"
                    ></app-formly-formcontainer>
                </div>
            </div>

            <div class="col-sm-6 col-12">
                <div class="p-3 card">
                    <h3 class="text-center">
                        <span class="fas fa-users"></span>
                        Guests
                    </h3>

                    <div *ngFor="let user of articleData.guests">
                        {{user.username}}

                        <app-delete-toggle
                        [deleteMessage]="'Remove '+ user.username +' as guest?'"
                        (deleteEvent)="onRemoveGuest(user)"
                        class="float-right px-0"
                        ></app-delete-toggle>
                    </div>

                    <!-- Form -->
                    <app-formly-formcontainer 
                    *ngIf="addGuestState; else addGuestButton"
                    [model]="guestModel"
                    [fields]="guestFormlyFields"
                    (formlySubmit)="onAddGuestSubmit()" 
                    (formlyCancel)="addGuestState=false"
                    ></app-formly-formcontainer>
                </div>
            </div>
        </div>

        <!-- Footer (Move to other Article + Delete Article) -->
        <app-article-footer
        (delete)="deleteArticle()"
        [link]="routingService.getRoutePath('home1', {campaign: articleData.name})"
        [label]="'Back to ' + articleData.name"
        [deleteMessage]="'Deactivate Campaign ?'"
        ></app-article-footer>
        
    </article>
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>

<ng-template #addMemberButton>
    <button class="btn btn-primary mt-3" (click)="toggleMemberAddState()">
        <span class="fas user-plus icon"> </span>
        Add Member
    </button>
</ng-template>

<ng-template #addAdminButton>
    <button class="btn btn-primary mt-3" (click)="toggleAdminAddState()">
        <span class="fas user-plus icon"> </span>
        Add Admin
    </button>
</ng-template>

<ng-template #addGuestButton>
    <button class="btn btn-primary mt-3" (click)="toggleGuestAddState()">
        <span class="fas user-plus icon"> </span>
        Add Guest
    </button>
</ng-template>