<div class="main" #article>
    <article *ngIf="articleData; else loading" class="container">
        <div class="row" *ngIf="!articleData.is_deactivated">
            <div class="col-12">
                <app-edit-toggle 
                [isInUpdateState]="false"
                [link]="'update'"
                ></app-edit-toggle>
            </div>
        </div>

        <!-- Heading -->
        <div class="row mb-5">
            <h1 class="text-center col"> {{ articleData.name }} </h1>
        </div>

        <!-- Image Fields of Campaign -->
        <h1> 
            <span class="fas fa-cog"></span>
            Campaign Settings
        </h1>
        <div class="card mb-5 mx-0 py-3 row flex-row">
            <div class="col-sm-6 d-flex flex-column align-items-center">
                <h3 class="text-center">Background</h3>
                <img title="Campaign background image" class="gallery-image" [src]="articleData.background_image" alt="Background image of this campaign">
            </div>
            <div class="col-sm-6 d-flex flex-column align-items-center">
                <h3 class="text-center">Icon</h3>
                <img title="Campaign Icon" class="gallery-image" [src]="articleData.icon" alt="Icon of this campaign">
            </div>

            <div class="col-12 row mt-4">
                <strong class="col-sm-3 col-6">Default Map: </strong>
                <div class="col-sm-9 col-6">{{ campaign.default_map_details?.name }}</div>

                <strong class="col-sm-3 col-6">Subtitle: </strong>
                <div class="col-sm-9 col-6" [innerHtml]="campaign.subtitle"></div>
            </div>
        </div>


        <!-- Members & Admins-->
        <h1> 
            <span class="fas fa-users-cog"></span> 
            Campaign Members
        </h1>
        
        <div class="mb-3 row">
            <div class="col-sm-6 col-12 mb-3">
                <div class="p-3 card">
                    <h3 class="text-center">
                        Admins
                        <app-tooltip-infocircle 
                        [tooltipMessage]="adminTooltip"
                        ></app-tooltip-infocircle>
                    </h3>

                    <div *ngFor="let user of articleData.admins">
                        {{user.username}}

                        <app-delete-toggle
                        [deleteMessage]="'Remove '+ user.username +' as admin?'"
                        (deleteEvent)="onRemoveAdmin(user)"
                        class="float-right px-0"
                        ></app-delete-toggle>
                    </div>

                    <!-- Form -->
                    <app-formly-formcontainer 
                    *ngIf="addAdminState; else addAdminButton"
                    [model]="adminModel" 
                    [fields]="adminFormlyFields" 
                    (formlySubmit)="onAddAdminSubmit()" 
                    (formlyCancel)="addAdminState=false"
                    ></app-formly-formcontainer>


                </div>
            </div>

            <div class="col-sm-6 col-12 mb-3">
                <div class="p-3 card">
                    <h3 class="text-center">
                        Party members
                        <app-tooltip-infocircle 
                        [tooltipMessage]="memberTooltip"
                        ></app-tooltip-infocircle>
                    </h3>

                    <div *ngFor="let user of articleData.members">
                        {{user.username}}

                        <app-delete-toggle
                        [deleteMessage]="'Remove '+ user.username +' as member?'"
                        (deleteEvent)="onRemoveMember(user)"
                        class="float-right px-0"
                        ></app-delete-toggle>
                    </div>

                    <!-- Form -->
                    <app-formly-formcontainer 
                    *ngIf="addMemberState; else addMemberButton"
                    [model]="memberModel" 
                    [fields]="memberFormlyFields"
                    (formlySubmit)="onAddMemberSubmit()" 
                    (formlyCancel)="addMemberState=false"
                    ></app-formly-formcontainer>
                </div>
            </div>

            <div class="col-sm-6 col-12 mb-3">
                <div class="p-3 card">
                    <h3 class="text-center">
                        Guests
                        <app-tooltip-infocircle 
                        [tooltipMessage]="guestTooltip"
                        ></app-tooltip-infocircle>
                    </h3>

                    <div *ngFor="let user of articleData.guests">
                        {{user.username}}

                        <app-delete-toggle
                        [deleteMessage]="'Remove '+ user.username +' as guest?'"
                        (deleteEvent)="onRemoveGuest(user)"
                        class="float-right px-0"
                        ></app-delete-toggle>
                    </div>

                    <!-- Form -->
                    <app-formly-formcontainer 
                    *ngIf="addGuestState; else addGuestButton"
                    [model]="guestModel"
                    [fields]="guestFormlyFields"
                    (formlySubmit)="onAddGuestSubmit()" 
                    (formlyCancel)="addGuestState=false"
                    ></app-formly-formcontainer>
                </div>
            </div>
        </div>

        <!-- Campaign Statistics -->
        <h1>
            <span class="fas fa-table"></span>
            Campaign Statistics
        </h1>

        <div class="container mb-5" *ngIf="campaignStatistics; else loading">
            <div class="row" *ngFor="let statistic of campaignStatistics | keyvalue">
                <div class="col-6 col-sm-3"> {{ statistic.key }}</div>
                <div class="col-6 col-sm-3"> {{ statistic.value }}</div>
            </div>
        </div>


        <!-- Footer (Move to other Article + Delete Article) -->
        <app-article-footer
        (delete)="deactivateCampaign()"
        [showDelete]="!articleData.is_deactivated"
        [link]="homeUrl"
        [label]="'Back to ' + articleData.name"
        [deleteMessage]="'Deactivate Campaign ?'"
        ></app-article-footer>
        
    </article>
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>

<ng-template #addMemberButton>
    <button class="btn btn-primary mt-3" (click)="toggleMemberAddState()">
        <span class="fas user-plus icon"> </span>
        Add Member
    </button>
</ng-template>

<ng-template #addAdminButton>
    <button class="btn btn-primary mt-3" (click)="toggleAdminAddState()">
        <span class="fas user-plus icon"> </span>
        Add Admin
    </button>
</ng-template>

<ng-template #addGuestButton>
    <button class="btn btn-primary mt-3" (click)="toggleGuestAddState()">
        <span class="fas user-plus icon"> </span>
        Add Guest
    </button>
</ng-template>

<ng-template #adminTooltip>
    <div class="alert alert-info m-0 p-0">
        Allows adding admins, members and guests to a campaign. Does not add the person to the list of possible "authors" for diaryentries.
    </div>
</ng-template>

<ng-template #memberTooltip>
    <div class="alert alert-info m-0 p-0">
        Allows creating, reading, updating and deleting articles in this campaign. Also makes the person a possible "author" for diaryentries.
    </div>
</ng-template>

<ng-template #guestTooltip>
    <div class="alert alert-info m-0 p-0">
        Allows only reading articles in this campaign.
    </div>
</ng-template>