.image-container img{
    object-fit: contain;
    width: 100%;
    max-height: 18rem;

    @media only screen and (max-width: 768px) {
        max-height: 10rem;
    }
}

.edit-image-buttons{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    transition: opacity 0.2s;
    opacity: 0;
}

.mouseoverVisible{
    opacity: 0;
    transition: opacity 0.2s;
}

:host-context(app-image-carousel:hover){
    .edit-image-buttons,
    .mouseoverVisible{
        opacity: 1;
    }
}