<div class="main">
    <article class="mb-5">
        <!-- Heading -->
        <ng-container *ngIf="(isInUpdateState() || isInOutdatedUpdateState()) && userModel; else createState">
            <app-edit-toggle
            [isInUpdateState]="true" 
            [link]="updateCancelUrl"
            ></app-edit-toggle>

            <h2 class="text-center"> Updating Map {{ userModel.name }} </h2>
        </ng-container>

        <!-- Form -->
        <app-formly-formcontainer
        *ngIf="isInUpdateState() || isInCreateState()"
        [model]="userModel" 
        [fields]="formlyFields" 
        (formlySubmit)="onSubmit()" 
        (formlyCancel)="onCancel()"
        ></app-formly-formcontainer>

        <app-compare-form-container
        *ngIf="isInOutdatedUpdateState()"
        [formlyFields]="formlyFields"
        [modelFromUser]="userModel"
        [modelFromServer]="serverModel"
        (updateSubmit)="onSubmit()"
        (cancel)="onCancel()"
        ></app-compare-form-container>

    </article> 
</div>

<ng-template #createState>
    <app-edit-toggle 
    [isInUpdateState]="true" 
    [link]="creationCancelUrl"
    ></app-edit-toggle>

    <h2 class="text-center"> Adding a new Map </h2>
</ng-template>