<div class="main">
    <article class="mb-5">
        <!-- Heading -->
        <div *ngIf="formState===constants.updateState && model; else createState">
            <app-edit-toggle
            [isInUpdateState]=true 
            [link]="routingService.getRoutePath('map', {name: model.name})"
            ></app-edit-toggle>

            <h2 class="text-center"> Updating Map {{ model.name }} </h2>
        </div>
        
        <ng-template #createState>
            <app-edit-toggle 
            [isInUpdateState]=true 
            [link]="routingService.getRoutePath('map', {name: constants.defaultMapName})"
            ></app-edit-toggle>

            <h2 class="text-center"> Adding a new Map </h2>
        </ng-template>


        <!-- Form -->
        <app-formly-formcontainer 
        [model]="model" 
        [fields]="fields" 
        (formlySubmit)="onSubmit()" 
        (formlyCancel)="onCancel()"
        ></app-formly-formcontainer>

    </article>
    <!-- Spinner while loading -->
    <ng-template #loading class="mb-4"> <app-spinner></app-spinner> </ng-template> 
</div>