<!-- Spells -->
<div class="card mb-3 px-4 pt-3 pb-1" #spellCard [ngClass] = "{'animate__animated animate__fadeInUp': isCreateState}">
    <!-- Spell Panel Heading -->
    <h5 class="pointer col-12 justify-content-between d-flex align-items-center spell-title" (click)="togglePanel($event)">
        <!-- Spell Title -->
        <strong>
            {{spell.name}}
            <span *ngIf="spell.concentration" class="ml-2">(C)</span>
            <span *ngIf="spell.ritual" class="ml-2">(R)</span>
            <div class="ml-4 d-inline">
                <span
                *ngFor="let connection of spell.player_class_connections" 
                class="badge badge-secondary mr-3"
                (click)="emitClassSelectEvent($event, connection.player_class_details.name)"
                >
                    {{connection.player_class_details.name}}
                    <span *ngIf="tokenService.isAdmin()" class="fa fa-trash icon" (click)="deleteSpellPlayerClassConnection(connection)"></span>
                </span>

                <span *ngIf="tokenService.isAdmin()">
                    <span 
                    class="icon fa fa-plus fa-1-5x" 
                    (click)="toggleConnectionCreateState()" 
                    *ngIf="!isSpellConnectionCreateState; else connectionForm"
                    ></span>
                </span>
            </div>
        </strong>

        <i [ngClass]="{'fa icon float-right': true, 'fa-chevron-down': !isPanelOpen, 'fa-chevron-up': isPanelOpen}"></i>
    </h5>


    <!-- Spell Panel Content -->
    <div class="mb-3" [ngbCollapse]="!isPanelOpen">
        <div class="col-12">
            <!-- Separating line -->
            <hr class="white-separator mb-2">

            <!-- Spell Heading -->
            <div class="w-100 mb-4">
                <h4 class="d-inline"> {{ spell.name }}</h4>

                <!-- Edit Toggler -->
                <div class="btn btn-secondary float-right" (click)="toggleFormState()">
                    <i class="fa fa-pencil" *ngIf="!isCreateState && !isUpdateState"></i>
                    <i class="fa fa-times" *ngIf="isCreateState || isUpdateState"></i>
                </div>
            </div>

            <!-- Spell Table -->
            <div class="container" *ngIf="!isCreateState && !isUpdateState; else formField">
                <div class="row">
                    <!-- Spell Level -->
                    <div class="col-md-3 col-6 d-flex flex-column spell">
                        <strong class="border-bottom-grey column-heading">SPELL LEVEL</strong>
                        <div class="column-body" *ngIf="spell.spell_level"> {{ (spell.spell_level) }} </div>
                        <div class="column-body placeholder" *ngIf="!spell.spell_level"> Placeholder </div>
                    </div>
                    <!-- Casting Time -->
                    <div class="col-md-3 col-6 d-flex flex-column spell">
                        <strong class="border-bottom-grey column-heading">CASTING TIME</strong>
                        <div class="column-body" *ngIf="spell.casting_time"> {{ (spell.casting_time) }} </div>
                        <div class="column-body placeholder" *ngIf="!spell.casting_time"> Placeholder </div>
                    </div>
                    <!-- Range/Area -->
                    <div class="col-md-3 col-6 d-flex flex-column spell">
                        <strong class="border-bottom-grey column-heading">RANGE/AREA</strong>
                        <div class="column-body" *ngIf="spell.range"> {{ (spell.range) }} </div>
                        <div class="column-body placeholder" *ngIf="!spell.range"> Placeholder </div>
                    </div>
                    <!-- Components -->
                    <div class="col-md-3 col-6 d-flex flex-column spell">
                        <strong class="border-bottom-grey column-heading">COMPONENTS</strong>
                        <div class="column-body" *ngIf="spell.components"> {{ (spell.components) }} </div>
                        <div class="column-body placeholder" *ngIf="!spell.components"> Placeholder </div>
                    </div>
                    <!-- Duration -->
                    <div class="col-md-3 col-6 d-flex flex-column spell">
                        <strong class="border-bottom-grey column-heading">DURATION</strong>
                        <div class="column-body" *ngIf="spell.duration"> {{ (spell.duration) }} </div>
                        <div class="column-body placeholder" *ngIf="!spell.duration"> Placeholder </div>
                    </div>
                    <!-- School -->
                    <div class="col-md-3 col-6 d-flex flex-column spell">
                        <strong class="border-bottom-grey column-heading">SCHOOL</strong>
                        <div class="column-body" *ngIf="spell.school"> {{ (spell.school) }} </div>
                        <div class="column-body placeholder" *ngIf="!spell.school"> Placeholder </div>
                    </div>
                    <!-- Attack/Save -->
                    <div class="col-md-3 col-6 d-flex flex-column spell">
                        <strong class="border-bottom-grey column-heading">ATTACK/SAVE</strong>
                        <div class="column-body" *ngIf="spell.saving_throw"> {{ (spell.saving_throw) }} </div>
                        <div class="column-body placeholder" *ngIf="!spell.saving_throw"> Placeholder </div>
                    </div>
                    <!-- Damage/Effect -->
                    <div class="col-md-3 col-6 d-flex flex-column spell">
                        <strong class="border-bottom-grey column-heading">EFFECT</strong>
                        <div class="column-body" *ngIf="spell.damage"> {{ (spell.damage) }} </div>
                        <div class="column-body placeholder" *ngIf="!spell.damage"> Placeholder </div>
                    </div>
                    <!-- Description -->
                    <div class="col-12 d-flex flex-column spell">
                        <strong class="border-bottom-grey column-heading">DESCRIPTION</strong>
                        <div class="column-body" [innerHTML]="spell.description"></div>
                    </div>
                    
                </div>
            </div>
        
            <!-- Delete Toggler -->
            <app-delete-toggle
            [deleteMessage] = "'Delete this Spell ?'"
            (deleteEvent) = "onDelete()"
            ></app-delete-toggle>
        </div>


    </div>
</div>

<ng-template #formField>
    <div id="edit-section">
        <!-- Form -->
        <app-formly-formcontainer 
        [model]="spell" 
        [fields]="fields" 
        (formlySubmit)="onSubmit()" 
        (formlyCancel)="onCancel()"
        ></app-formly-formcontainer>
    </div>
</ng-template>

<ng-template #connectionForm>
    <!-- Form for Creating Quote Connections -->
    <form class="d-inline-flex align-items-center" (submit)="createSpellPlayerClassConnection(connectionModel)">
        <select class="form-control d-inline-block" name="connection" id="connection" [(ngModel)]="connectionModel.player_class">
            <option 
            *ngFor="let playerClass of playerClasses" 
            value="{{playerClass.pk}}" 
            [attr.disabled]="hasConnection(playerClass) ? true : null"
            >
                {{playerClass.name}}
            </option>
        </select>

        <i class="fa fa-times icon mx-2 fa-1-5x" (click)="toggleConnectionCreateState()"></i>
        <button type="submit" class="mx-2">
            <i class="fa fa-check icon fa-1-5x"></i>
        </button>
    </form>
</ng-template>