@import "/src/app/cssvariables.scss";
@import "/src/app/custom_bootstrap.scss";

table {
  background-color: transparent;
}

.card {
  background-color: rgba(27, 31, 34, 0.95) !important;
  border-color: grey;
}

.card-title {
  font-size: 1.3rem;
}

.column-heading {
  background-color: hsla(0, 0%, 100%, 0.05);
  padding: 0.75rem;
}

.column-body {
  background-color: rgba(27, 31, 34, 0.95);
  padding: 0.75rem;
}

.spell {
  padding: 0;
}

.placeholder {
  color: transparent;
}

.border-bottom-grey {
  border-bottom: 1px grey solid;
}

.bg-secondary .fa-trash:hover {
  color: $red;
}

.badge {
  height: min-content;
}

.badge-lg {
  padding: 0.4em 0.8em;
}

.bg-secondary:hover {
  background-color: var(--#{dark});
  color: var(--link-blue);
}

@media (max-width: $medium-screen) {
  .column-heading {
    font-size: medium;
  }
}

#edit-section {
  margin-bottom: 1rem;
}
