@import '/src/app/cssvariables.scss';

table{
    background-color: transparent;
}

.card{
    background-color: rgba(27, 31, 34, 0.95) !important;
    border-color: grey;
}

.card-title{
    font-size: 1.3rem;
}

.column-heading{
    background-color: hsla(0,0%,100%,.05);
    padding: 0.75rem;
}

.column-body{
    background-color: rgba(27,31,34,.95);
    padding: 0.75rem;
}

.spell{
    padding: 0;
}

.placeholder{
    color: transparent;
}

.border-bottom-grey{
    border-bottom: 1px grey solid;
}

.spell-title .fa-trash, .spell-title .fa-plus{
    visibility: hidden;
    transition: visibility 0.2s ease-in-out;
}

.spell-title .fa-trash:hover{
    color: var(--red);
}

.badge{
    height: min-content;
}

.badge-secondary:hover{
    background-color: var(--#{dark});
    color: var(--link-blue);
}

.badge-secondary:hover .fa-trash{
    visibility: visible;
}

.spell-title:hover .fa-plus{
    visibility: visible;
}


@media(max-width: $medium-screen){
    .column-heading{
        font-size: medium;
    }
}

#edit-section{
    margin-bottom: 1rem;
}